<!--0：还未结束-->
<div ng-if="activity.status==0">
  <div class="dp-itemList__li">
    <div class="dp-itemList__content">
      <div class="dp-itemList__img" ng-click="gotoDetail(activity.activity_id)">
        <img lazyload lazy-src="{{::activity.goods_img}}" default-img="img/goods_default.jpg"
             error-img="img/goods_default.jpg"/>
      </div>
      <div class="dp-itemList__title" ng-click="gotoDetail()">{{::activity.goods_title}}</div>

      <div class="dp-itemList__desc"
           style="position:relative; margin-right: 54px; padding-right: 10px; border-right: 1px solid #f2f2f2;">
        <p ng-if="activity.activity_type != 6">期号： {{::activity.activity_id}}</p>
        <p ng-if="activity.activity_type == 6">期号： 幸运购</p>

        <div class="progress"><span style="width: {{(1-(activity.remain_num/activity.need_num))*100}}%;"></span></div>
        <p>总需：
          <em class="red">{{::activity.need_num}}</em>
          <span class="fr">剩余： <em class="red">{{::activity.remain_num}}</em></span>
        </p>
        <button ng-if="activity.activity_type != 6" class="dp-button dp-button--red"
                style="position:absolute; top: 50%; margin-top: -15px; right: -54px; font-size: 12px; line-height:30px; "
                ng-click="showAddPay(activity)">跟买
        </button>
      </div>

      <p ng-if="activity.activity_type != 6" style="color: #888888;">TA参与了：
        <em class="red">{{::activity.user_num}}</em> 人次
        <a ng-click="getHisNumber(activity.activity_id, activity.lucky_uid)" class="fr blue" href="">查看他的号码</a>
      </p>
      <!--幸运购activity_type == 6是幸运购-->
      <p ng-if="activity.activity_type == 6" style="color: #888888;">TA参与了：
        <em class="red" ng-if="activity.orderinfo == 1">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 2">偶数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">偶数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == null">数据错误，请重新刷新</em>
      </p>

    </div>
  </div>
</div>


<!--1：即将揭晓-->
<div ng-if="activity.status==1">
  <div class="dp-itemList__li">
    <div class="dp-itemList__content">
      <div class="dp-itemList__img" ng-click="gotoDetail(activity.activity_id)">
        <img lazyload lazy-src="{{::activity.goods_img}}" default-img="img/goods_default.jpg"
             error-img="img/goods_default.jpg"/>
      </div>
      <div class="dp-itemList__title" ng-click="gotoDetail()">{{::activity.goods_title}}</div>

      <div class="dp-itemList__desc"
           style="position:relative; margin-right: 54px; padding-right: 10px; border-right: 1px solid #f2f2f2;">
        <p ng-if="activity.activity_type != 6">期号： {{::activity.activity_id}}</p>
        <p ng-if="activity.activity_type == 6">期号： 幸运购</p>
      </div>
      <p ng-if="activity.activity_type != 6" style="color: #888888;">TA参与了：
        <em class="red">{{::activity.user_num}}</em> 人次
        <a ng-click="getHisNumber(activity.activity_id, activity.lucky_uid)" class="fr blue" href="">查看他的号码</a>
      </p>
			
			<!--幸运购-->
			<p ng-if="activity.activity_type == 6" style="color: #888888;">TA参与了：
        <em class="red" ng-if="activity.orderinfo == 1">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 2">偶数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">偶数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == null">数据错误，请重新刷新</em>
      </p>
			
      <div class="dp-itemList__time">
        <p>揭晓倒计时：</p>
                      <span class="remain_time iconfont-clock"
                            view-countdown
                            remain-time="{{::activity.remain_time}}"
                            timeout-callback="doRefresh()"
                        ></span>
      </div>
    </div>
  </div>
</div>


<!--2：已经揭晓-->
<div ng-if="activity.status==2">
  <div class="dp-itemList__li">
    <div class="dp-itemList__content">
      <div class="dp-itemList__img1" style="width: 90px; border-radius: 0;" ng-click="gotoDetail(activity.activity_id)">
        <img lazyload lazy-src="{{::activity.goods_img}}" default-img="img/goods_default.jpg"
             error-img="img/goods_default.jpg"/>
      </div>
      <div class="dp-itemList__title" ng-click="gotoDetail()">{{::activity.goods_title}}</div>

      <div class="dp-itemList__desc">
        <p ng-if="activity.activity_type != 6" >期号： {{::activity.activity_id}}</p>
        <p ng-if="activity.activity_type == 6">期号： 幸运购</p>
      </div>
      
      <p ng-if="activity.activity_type != 6" style="color: #888888;">TA参与了：
        <em class="red">{{::activity.user_num}}</em> 人次
        <a ng-click="getHisNumber(activity.activity_id, activity.lucky_uid)" class="fr blue" href="">查看他的号码</a>
      </p>
      <!--幸运购-->
			<p ng-if="activity.activity_type == 6" style="color: #888888;">TA参与了：
        <em class="red" ng-if="activity.orderinfo == 1">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 2">偶数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">奇数幸运牌</em>
        <em class="red" ng-if="activity.orderinfo == 3">偶数幸运牌</em>
        <!--<em class="red" onclick="window.location.reload()" ng-if="activity.orderinfo == null">数据错误，请重新刷新</em>-->
      </p>
      
        <div ng-if="activity.activity_type != 6" class="dp-detailBox__grayBox" style="margin-top: 5px; ">
            <p>获奖者： <em class="blue" ng-click="goToHisPage(activity.lucky_unick,activity.lucky_uicon,activity.lucky_uid)">{{::activity.lucky_unick}}</em>
                <span style="color: #b2b2b2;">（{{::activity.lucky_uip.country}}）</span></p>

            <p>本期参与： <em class="red">{{::activity.lucky_user_num}}</em>人次</p>

            <p>幸运号码： <em class="red">{{::activity.lucky_num}}</em></p>

            <p>揭晓时间： <span style="white-space: nowrap">{{::activity.publish_time}}</span></p>
        </div>
    </div>

  </div>

</div>
