<ion-footer-bar id="footer_tab">
            <div class="row pd-0 red-circle">
                <div class="col pd-0" ui-sref="tab.mainpage">
                    <div class="ion-ios-home-outline font-30" style="margin-top: -5px;"></div>
                    <span class="bar-title">首页</span>
                </div>
                <div class="col pd-0" ui-sref="tab.preferential_activities">
                    <!--<div class="tab_youhuihuodong_line" style="margin-top: -3px;"></div>-->
                    <img class="img_icon" src="img/icon/preferential_line.png" alt="">
                    <span class="bar-title">活动专区</span>
                </div>

                <div class="col pd-0" ui-sref="tab.shareOrder">
                    <!--<div class="iconfont-cup-outline font-30" style="margin-top: -3px;margin-bottom: 6px;font-size: 25px;"></div>-->
                    <img class="img_icon2" src="img/icon/shaidan_line.png" alt="">
                    <span class="bar-title">幸运晒单</span>
                </div>

                <div class="col pd-0" ui-sref="tab.account2">
                    <div class="iconfont-person-outline font-30" style="margin-top: -3px;margin-bottom: 6px;font-size: 25px;"></div>
                    <span class="bar-title">我</span>
                </div>

            </div>
</ion-footer-bar>

