<!--<ion-view view-title="找回密码" hide-nav-bar="false">-->
<ion-view view-title="找回密码" hide-nav-bar="isHideNaviBar" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="dp-button button-icon ion-chevron-left" ng-click="$ionicGoBack()">
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">

        <div class="dp-blank20"></div>

        <div class="dp-inputbox__container">
            <view-input type="phone" dp-input-model="account.phoneNumber" dp-input-max-length="11"></view-input>
            <view-input-verification></view-input-verification>
            <div class="dp-inputbox dp-inputbox--icon">
              <div class="dp-inputbox__title">
                <img src="img/code-icon.png" alt="" style="width: 22px;height: 22px;margin-top: 11px;margin-left: 5px;display: inline-block;">
              </div>
              <div class="dp-inputbox__main" id="inputContain">
                <input type="text" placeholder="请输入右边的验证码" ng-model="security.code" class="ng-pristine ng-untouched   ">
              </div>
              <div class="dp-inputbox__buttons" style="display: block;right:0;top:14px;height:42px;width:110px;" ng-click="changeGetCodeUrl()">
                  <img ng-src="{{security.params}}" alt="图形验证码">
              </div>
            </div>
            <view-input type="verify" dp-input-model="account.verificationCode" dp-input-max-length="6"
                        dp-input-verify-txt="account.verificationButtonText"
                        dp-input-verify-click="sendSmsVerificationCode()"
                    ></view-input>
        </div>

        <div>
            <img class="wenhao fl" src="img/icon/wenhao.png" alt="">
            <div class="wxts2">
                <span>温馨提示：</span>
                 请谨记更改后密码。
               <!--  密码将随验证码发送到您的手机 -->
            </div>

        </div>


        <div class="padding-44">
            <button class="button button-block dp-button dp-button2"
                    ng-class="{true:'dp-button--on2',false:'dp-button--off2'}[isEnableFindPassword()]"
                    ng-click="goNext()" ng-disabled="!isEnableFindPassword()"  style="border-radius: 15px; opacity: 1;margin-top: -37px;">
                找回密码
            </button>
        </div>
    </ion-content>

</ion-view>
