<!--<ion-view view-title="修改密码" hide-nav-bar="false">-->
<ion-view view-title="确认新密码" hide-nav-bar="isHideNaviBar" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="dp-button button-icon ion-chevron-left" ng-click="$ionicGoBack()" >
        </button>
    </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="dp-blank20"></div>

    <!--<view-input type="password" dp-input-hint="modifyPasswordInputHint.oldPasswordHint"
                dp-input-model="passwordObject.oldPassword" dp-input-max-length="15"></view-input>-->
    <view-input type="password" dp-input-hint="modifyPasswordInputHint.newPasswordHint"
                dp-input-model="passwordObject.newPassword" dp-input-max-length="15"></view-input>
    <view-input type="password" dp-input-hint="modifyPasswordInputHint.newPasswordAgainHint"
                dp-input-model="passwordObject.newPasswordAgain" dp-input-max-length="15"></view-input>

    <div class="padding-44">
      <button class="button button-block dp-button dp-button2"
              ng-class="{true:'dp-button--on2',false:'dp-button--off2'}[isEnableModifyPassword()]"
              ng-click="modifyPassword()" style="border-radius: 15px;">提交</button>
    </div>

  </ion-content>
</ion-view>
