<!--<ion-view view-title="重置密码" hide-nav-bar="false">-->
<ion-view view-title="重置密码" hide-nav-bar="isHideNaviBar" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button class="dp-button button-icon ion-chevron-left" ng-click="$ionicGoBack()" >
        </button>
    </ion-nav-buttons>

  <ion-content scroll="false">
    <div class="dp-blank20"></div>

    <view-input type="password" dp-input-hint="resetPasswordInputHint.passwordHint"
                dp-input-model="inputObject.password" dp-input-max-length="15"></view-input>

    <view-input type="password" dp-input-hint="resetPasswordInputHint.passwordAgainHint"
                dp-input-model="inputObject.passwordAgain" dp-input-max-length="15"></view-input>

    <div class="padding">
      <button class="button button-block dp-button "
              ng-class="{true:'dp-button--on',false:'dp-button--off'}[isEnableResetPassword()]"
              ng-click="resetPassword()" ng-disabled="!isEnableResetPassword()">确认修改</button>
    </div>
  </ion-content>
</ion-view>
