article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden],template{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a{background:transparent}a:hover,a:active{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:"\201C" "\201D" "\2018" "\2019"}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}html{overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}body{font-size:14px;line-height:1.5;color:#333; background:url(../images/bg.png) repeat-y;}body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Tahoma,sans-serif}img{vertical-align:middle}textarea{resize:vertical}h1,h2,h3,h4,h5,h6,p,figure,form{margin:0}ul,ol,li,dl,dd{margin:0;padding:0}ul,ol{list-style:none outside none}h1,h2,h3{line-height:2;font-weight:normal}h1{font-size:21px}h2{font-size:18.2px}h3{font-size:16.38px}h4{font-size:14px}h5,h6{font-size:11.9px;text-transform:uppercase}a{text-decoration:none;color:#08c}a:hover{color:#069}input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc}input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
.text-justify{text-align:justify;text-align-last:justify}
.text-justify:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';vertical-align:top}
.fl{float:left}
.fr{float:right}
.dib,.inline-block{display:inline-block;*display:inline;*zoom:1}
.dn,.hide{display:none}
.db{display:block}
.hidetxt{overflow:hidden;font-size:24px;line-height:0;color: #fff}
.wh0{width:0;height:0}
.tdu{text-decoration:underline}
.tal,.text-left{text-align:left}
.tac,.text-center{text-align:center}
.tar,.text-right{text-align:right}
.vam{vertical-align:middle}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.btn{cursor:pointer}
.btn:hover{text-decoration:none}
.center-hor{margin-left:auto;margin-right:auto}
.clearfix{ } /* background-image:url(../images/menu_icon.png); background-position:14px 3px; background-repeat:no-repeat; */
.clearfix,.container,.clear{*zoom:1}
.clearfix:after,.container:after,.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dibwrap{font-size:0;*word-spacing:-1px}
.dibwrap .dib{font-size:12px;letter-spacing:normal;word-spacing:normal;vertical-align:top}
.btn,.dp-input input[type="text"],.dp-input input[type="password"],.dp-input input[type="color"],.dp-input input[type="file"],.dp-textarea textarea{border-color:#ddd;border-radius:2px}
.dp-nav ul,.dp-nav li,.dp-nav a{height:100%}
.dp-nav-inner{*zoom:1}
.dp-nav-inner:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dp-nav li{float:left}
.dp-nav a{display:block;color:#7a7a7a}
.dp-nav a:hover,.dp-nav .current{position:relative;bottom:-1px;border-bottom:1px solid #00ca93;color:#00ca93;line-height:22px !important}
.dp-page-head{position:relative;margin-bottom:15px;border-bottom:2px solid #eaeaea}
.dp-page-head .title{display:inline-block;position:relative;bottom:-1px;border-bottom:2px solid #717171;color:#717171} /*#00ca93*/
.dp-page-head .title,.dp-page-head .dp-nav a{padding:5px 20px;height:24px;line-height:24px;font-size:16px}
.dp-page-head .dp-nav{height:100%}
.dp-page-head .left-item{height:100%}
.dp-page-head .left-item,.dp-page-head .right-item{font-size:0}
.dp-page-head .left-item .item,.dp-page-head .right-item .item{font-size:12px}
.dp-page-head .left-item .dp-dropdown,.dp-page-head .right-item .dp-dropdown{width:80px}
.dp-page-head .left-item .dp-dropdown .btn,.dp-page-head .right-item .dp-dropdown .btn{line-height:18px}
.dp-page-head .left-item .item{padding-right:10px}
.dp-page-head .left-item .btn-large{padding-left:0;padding-right:0;width:100px}
.dp-page-head .right-item{position:absolute;top:0;right:0;height:100%}
.dp-page-head .right-item .item{padding-left:5px}
.dp-page-head .right-item .dp-dropdown{width:80px}
.dp-page-head .right-item .dp-dropdown .btn{line-height:18px}
.dp-panel-head{padding:10px 18px;height:18px;line-height:18px;background-color:#f4f4f4}
.dp-panel-head .title{float:left;height:18px;line-height:18px;padding:0 10px;border-left:5px solid #00ca93;font-size:14px;color:#000}
.dp-table{border-width:0 0 1px;border-style:solid}
.dp-table thead{background:#7f8fa8}
.dp-table thead tr th{font-weight:normal;border-bottom-width:1px;border-right:0;border-left:0;color:#fff;font-size:14px}
.dp-table tbody tr:hover{background:#f0f0f0 !important}
.dp-table,.dp-table thead tr th,.dp-table tbody tr td{border-color:#eaeaea;text-align:center;vertical-align:middle;word-break:break-all;word-wrap:break-word}
.dp-table.table-bordered{border-top-width:1px;border-top-color:#686868}
.dp-table.table-bordered thead{border-right:1px solid #686868}
.dp-table.table-striped tbody tr:nth-of-type(odd){background:#fff}
.dp-table.table-striped tbody tr:nth-of-type(even){background:#f7f7f7}
.dp-table.table-striped tbody tr:nth-of-type(even) td{border-top-width:0}
.dp-table-large thead tr th,.dp-table-large tbody tr td{padding:12px}
.dp-table-lightgray thead{background:#F1F1F1}
.dp-table-lightgray thead tr th{color:inherit}
.dp-table .dp-col-align-left{text-align:left}
.dp-table .dp-col-align-right{text-align:right}
.btn{border-width:1px;border-style:solid;background:#fff;padding:3px 13px;color:#7a7a7a;outline:0;font-size:12px}
.btn:active,.btn:focus{outline:0;box-shadow:none}
.btn-default{background:#F8F8F8}
.btn-default:hover,.btn-default:active,.btn-default:focus{border-color:#ddd !important;background:#f5f5f5;color:#7a7a7a}
.btn-orange{background:#00ca93;border-color:#00ca93;color:#fff}
.btn-orange:hover,.btn-orange:active,.btn-orange:focus{background:#4dcca1;color:#fff}
.btn-green{background:#4BC321;border-color:#4BC321;color:#fff}
.btn-green:hover,.btn-green:active,.btn-green:focus{background:#49bf20;color:#fff}
.btn-blue{background:#00A5D3;border-color:#00A5D3;color:#fff}
.btn-blue:hover,.btn-blue:active,.btn-blue:focus{background:#00a1ce;color:#fff}
.btn-link,.btn-link:hover{color:#07d}
.btn-large{padding:8px 0;width:100px;font-size:14px}
.btn-small{padding:0;width:80px;height:30px;line-height:30px}
.dp-tfoot .page-cnt{text-align:right}
.dp-tfoot .btns{margin-top:28px;font-size:0}
.dp-tfoot .btns .btn{padding:0;width:78px;line-height:30px}
.dp-dropdown,.dp-dropdown a{color:#262626}
.dp-dropdown .btn{border-radius:0;padding-left:10px;padding-right:10px}
.dp-dropdown .dropdown-menu{margin-top:0;border-color:#ddd;border-radius:0;min-width:100%;max-height:200px;overflow-y:auto;overflow-x:hidden;padding-right:15px}
.dp-dropdown .dropdown-menu li{margin-right:-15px}
.dp-dropdown .dropdown-menu a{color:#7a7a7a;padding-left:10px;padding-right:10px}
.dp-dropdown .dropdown-menu a:hover,.dp-dropdown .dropdown-menu a.selected{background:#00ca93;color:#fff}
.dp-dropdown .dp-search{margin-left:4px;margin-right:4px;margin-bottom:5px}
.dp-dropdown .dp-search input[type="text"]{padding-top:2px;padding-bottom:2px;padding-left:20px;box-shadow:inset 0 1px 3px #ddd}
.dp-dropdown .dp-search .glyphicon-search{top:7px;left:6px;font-size:12px}
.dp-dropdown-fix{width:80px}
.dp-dropdown-fix .btn{padding:0;width:100%;height:26px;line-height:26px}
.dp-dropdown-fix .dropdown-menu li a{height:20px;overflow:hidden;white-space:break}
.dp-page{margin:10px 0;text-align:center}
.dp-page a{display:inline-block;margin:0 1px;padding:3px 8px;border:1px solid #ddd;border-radius:2px;color:#7a7a7a;font-size:12px; background:#fff}
.dp-page a:first-child,.dp-page a:last-child{padding-left:12px;padding-right:12px;background:#F7F7F7}
.dp-page a:hover{background:#f2f2f2}
.dp-page .pagecurrent{border-color:#7f8fa8;color:#fff}
.dp-page .pagecurrent,.dp-page .pagecurrent:hover{background:#7f8fa8}
.dp-page-large a{padding:5px 12px;font-size:14px}
.dp-page-right{text-align:right}
.dp-input input[type="text"],.dp-input input[type="password"],.dp-input input[type="color"],.dp-input input[type="file"]{padding:5px 6px;height:20px;min-width:40px;max-width:100%}
.dp-input input[type="text"]:focus,.dp-input input[type="password"]:focus,.dp-input input[type="color"]:focus,.dp-input input[type="file"]:focus{border-color:#66afe9}
.ipt-width-long{width:260px}
.ipt-width-mid{width:210px}
.ipt-width-short{width:160px}
.ipt-width-shorter{width:60px}
.dp-select{padding:3px 5px;border-color:#ddd}
.dp-textarea textarea{padding:12px;width:230px;line-height:22px}
.dp-search{position:relative}
.dp-search input[type="text"]{padding-left:26px}
.dp-search .glyphicon-search{position:absolute;top:9px;left:8px;color:#888;font-size:14px}
.dp-checkbox,.dp-radio,.dmm-radio{position:relative;cursor:pointer;-webkit-appearance:none;width:16px;height:16px;margin-top:0 !important}
.dp-checkbox:before,.dp-checkbox:after,.dp-radio:before,.dp-radio:after,.dmm-radio:before,.dmm-radio:after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;font-size:12px}
.dp-checkbox:before,.dp-checkbox:after{border-radius:2px}
.dp-checkbox:before{border:1px solid #eaeaea;background:#fff}
.dp-checkbox:checked:after,.dp-checkbox.checked:after{content:"\2714";border-color:#6ED13D;background-color:#6ED13D;text-align:center;color:#fff}
.dp-radio:before{border-radius:16px;border:1px solid #ddd}
.dp-radio:checked:after,.dp-radio.checked:after{top:0;right:0;bottom:0;left:0;margin:auto;width:60%;height:60%;border-radius:60%;background:#6ED13D}
.dp-search-item{font-size:0 !important}
.dp-search-item input[type="text"]{display:inline-block;padding-top:2px;padding-bottom:2px;width:auto}
.dp-search-item .dp-input{margin-right:4px}
.dp-thumbpic{display:inline-block}
.dp-pic-and-txt{position:relative}
.dp-pic-and-txt .dp-thumbpic{position:relative;float:left;border:1px solid #E5E5E5}
.dp-pic-and-txt .dp-thumbpic img{width:52px;height:52px}
.dp-pic-and-txt .dp-thumbpic .dp-checkbox{position:absolute;left:-1px;bottom:-1px}
.dp-pic-and-txt .txt{position:relative;margin-left:70px;padding-bottom:24px;min-height:30px}
.dp-pic-and-txt .txt-top{padding-top:5px}
.dp-pic-and-txt .txt-foot{position:absolute;left:0;bottom:5px}
.dp-tips{padding:0 15px;background:#FFF6BA;border:1px solid #FFD178}
.dp-modal{top:30%;font-size:14px}
.dp-modal .modal-mi{width:500px}
.dp-modal .modal-content{border-color:#00ca93;border-width:4px 0 0 0;border-radius:0;box-shadow:none}
.dp-modal .modal-header{padding:13px 0 0;height:40px;background:#F1F1F1;border-bottom:0}
.dp-modal .modal-header .close{font-family:\5B8B\4F53;margin-top:5px;margin-right:14px;color:#00ca93;opacity:0.8}
.dp-modal .modal-header .close:hover{opacity:1}
.dp-modal .modal-body{padding:15px 30px}
.dp-modal .modal-footer{margin-top:30px;padding:15px 30px;text-align:left}
.dp-modal .form-horizontal{margin:auto}
.dp-modal .nav-tabs{padding:0 22px;border-bottom:0}
.dp-modal .nav-tabs a,.dp-modal .nav-tabs h4{color:inherit;padding-top:10px;padding-bottom:10px;border:0 !important;border-radius:0;font-size:14px}
.dp-modal .nav-tabs a:hover{background:#ddd}
.dp-modal .nav-tabs .active a{color:#00ca93 !important}
.dp-modal .nav-tabs h4{padding-left:20px;padding-right:20px;background:#fff;color:#00ca93;font-weight:normal}
.dp-modal-common .modal-body{padding-top:30px}
.dp-modal-common .msg{text-align:center}
.dp-modal-common .modal-footer{margin-top:0;padding-bottom:30px;border-top:0;text-align:center}
.dp-modal-common .modal-footer .btn{margin:0 10px}@media \0screen\,screen\9{.header{border-bottom:1px solid #ddd}}*{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}html{overflow-y:auto}body{padding-right:0 !important;font-size:12px;font-family:\5FAE\8F6F\96C5\9ED1;line-height:1.5;color:#7a7a7a}a{cursor:pointer;color:#07d}a:hover{text-decoration:none;color:#0063c9}a.tdu:hover{text-decoration:underline}input,button,select{outline:0 !important;font-family:\5FAE\8F6F\96C5\9ED1;vertical-align:middle}input,textarea,.form-control{color:inherit}input:focus,textarea:focus,.form-control:focus{color:inherit}input[type="checkbox"],input[type="radio"]{vertical-align:-2px}textarea{resize:none}em,strong{font-style:normal;font-weight:normal}label{font-weight:normal}img{max-width:100%}li{list-style:none}p,div{word-wrap:break-word}
.inner,.container{position:relative;margin-left:auto;margin-right:auto;width:100%;width:100%}@media screen and (min-width: 1200px){.inner,.container{width:100%}}
.red,.red:hover{color:#EF2121}
.blue,.blue:hover{color:#07d}
.orange,.orange:hover{color:#00ca93}
.green,.green:hover{color:#449d44}
.gray,.gray:hover{color:#ccc}
.gray-dark,.gray-dark:hover{color:#7a7a7a}
.tips{color:#adadad}
.g-icon,.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after{display:inline-block;vertical-align:middle;background-image:url('../images/g-icon-s1772b29764.png');background-repeat:no-repeat;background-size:24px 227px}
.g-icon-add{width:14px;height:14px;background-position:0 0}
.g-icon-aside-ico1{width:16px;height:16px;background-position:0 -14px}
.g-icon-aside-ico2{width:16px;height:16px;background-position:0 -30px}
.g-icon-aside-ico3{width:16px;height:16px;background-position:0 -46px}
.g-icon-aside-ico4{width:16px;height:19px;background-position:0 -62px}
.g-icon-aside-ico5{width:19px;height:14px;background-position:0 -81px}
.g-icon-aside-ico6{width:20px;height:18px;background-position:0 -95px}
.g-icon-aside-ico7{width:18px;height:18px;background-position:0 -113px}
.g-icon-check-small,.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after{width:10px;height:10px;background-position:0 -131px}
.g-icon-close-small{width:16px;height:16px;background-position:0 -141px}
.g-icon-close{width:24px;height:24px;background-position:0 -157px}
.g-icon-nav-user{width:17px;height:16px;background-position:0 -181px}
.g-icon-star{width:15px;height:14px;background-position:0 -197px}
.g-icon-user{width:12px;height:16px;background-position:0 -211px}
.delete .g-icon,.delete .form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-bgc .delete .bgc-option:after,.delete .form-horizontal .select-fcolor .bgc-option:after,.form-horizontal .select-fcolor .delete .bgc-option:after{vertical-align:top}
.icon-pay{display:inline-block;vertical-align:middle;background-image:url('../images/icon-pay-s8dcc458e0b.png');background-repeat:no-repeat;background-size:16px 64px}
.icon-pay-ali{width:16px;height:16px;background-position:0 0}
.icon-pay-bankcard{width:16px;height:16px;background-position:0 -16px}
.icon-pay-delivery{width:16px;height:16px;background-position:0 -32px}
.icon-pay-weixin{width:16px;height:16px;background-position:0 -48px}
.inline-block{display:inline-block}
.text-center{text-align:center}
.text-right{text-align:right}
.vercenter-wrap{display:table}
.vercenter{display:table-cell;vertical-align:middle}
.header{:0;left:0;width:100%;z-index:10;height:64px;background-color:#3c4857;}
.header-inner{width:100%}@media screen and (min-width: 1200px){.header-inner{width:100%}}
.header-logo{position:absolute;left:42px;top:9px;width:auto;height:42px;}
.header-logo a{display:block;height:100%}
.header-nav{margin-left:143px;padding-top:0px}
.header-nav .nbtn{float:left; text-align:center}
.header-nav a{display:block;margin:0 14px;padding:37px 10px;height:auto;line-height:24px;color:#7c8795;font-size:14px;}
.header-nav a:hover{color:#00ca93}
.header-nav .current a{ background-color:#505b68;border-radius:2px;color:#fff} /* background-image:url(../images/menu_icon.png); */
.header-right{position:absolute;top:0;right:0px}
.header .user{padding:20px;height:24px;line-height:24px; color:#fff;background: #323c48;}
.header .user .g-icon-user{margin-right:3px;vertical-align:-3px}
.header .settings{display:inline-block;}
.header .settings .btn{border:0;background:none;color:#fff}
.header .settings .dropdown-menu a{font-size:12px;line-height:24px}
.header .settings .dropdown-menu .dp-iconfont{display:inline-block;width:16px;height:16px;text-align:center;margin-right:5px}
.container{position:relative;padding-left:0;padding-right:0;margin-top:0px;margin-bottom:0px;overflow:hidden;background-color:#f3f7f8;min-height: 900px;}
.main-inner{position:relative;margin-left:157px;padding:15px 15px 25px 14px;min-height:500px}
.main-header{padding:10px 0;background:#f8f8f8;border-bottom:1px solid #00ca93}
.main-header .title{margin-left:24px;color:#00ca93}
.main-body{padding:10px 0;min-height:400px}
.aside{position:absolute;left:0;top:0;bottom:0;float:left;width:157px;background:#3c4857;border-top:1px solid #505b68;min-height: 900px;}
.aside .title,.aside .links a{padding-left:12px;padding-right:12px}
.aside .title:first-child{height:40px;line-height:40px;}
.aside .links-main{padding:10px 0}
.aside .links-main .btn{display:block;margin:4px auto;width:132px;padding:0;height:52px;line-height:52px;font-size:14px}
.aside .links-main .btn .link-txt,.aside .links-main .btn .arrow{vertical-align:middle}
.aside .links-main .btn .arrow{margin-left:5px;width:0px;height:0px;font-size:0;overflow:hidden;border-width:3px;vertical-align:middle;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #7a7a7a}
.aside .links-main .btn-orange .arrow{width:0px;height:0px;font-size:0;overflow:hidden;border-width:3px;vertical-align:middle;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #fff}
.aside .links-list{padding-bottom:10px}
.aside .links-list a{position:relative;display:block;padding-top:3px;padding-bottom:3px;height:22px;line-height:22px;color:#979797; font-size:14px;}
.aside .links-list a:before{content:" ";display:none;position:absolute;left:0;top:0;width:4px;height:100%;background-color:#fff}
.aside .links-list a:hover,.aside .links-list a.current{color:#44484d;background:#f3f7f8}
.aside .links-list a strong{font-size:16px;font-weight:normal}
.aside .links-list li:hover a:before,.aside .links-list li a.current:before{display:block}
.aside .links-list .link-txt{margin-left:28px}
.aside .links-list .pointing{text-align:right;float:right;font-family:微软黑体}
.aside .title{position:relative;height:44px;line-height:44px;background: url(../images/line.png) repeat-x left top;}
.aside .title .tit-txt{margin-left:7px;font-size:16px;color:#fff}
/*.aside .title .icon-box{position:absolute;top:12px;left:12px;width:24px;height:100%;font-size:16px;margin-left:8px;}
.aside .title .icon-box2{position:absolute;top:7px;left:12px;width:24px;height:100%;font-size:16px;margin-left:8px;}
*/
.aside .title .g-icon,.aside .title .form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-bgc .aside .title .bgc-option:after,.aside .title .form-horizontal .select-fcolor .bgc-option:after,.form-horizontal .select-fcolor .aside .title .bgc-option:after{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}
.container .dp-page-head{height:auto}
.popover{max-width:500px}
.popover-content{min-width:150px;font-family:inherit;font-size:14px}
.popover .popover-main,.popover .opt-btns{display:inline-block;vertical-align:middle}
.popover .opt-btns .btn{margin:0 5px;padding-left:10px;padding-right:10px;vertical-align:middle}
.form-horizontal .form-group{margin-left:0;margin-right:0;font-size:14px}
.form-horizontal .form-group:last-child{margin-bottom:0}
.form-horizontal .control-label{float:left;padding-top:2px;width:100px;line-height:26px}
.form-horizontal .required{margin-right:2px;color:#EF2121;vertical-align:middle}
.form-horizontal .control-cont{margin-left:93px;line-height:30px}
.form-horizontal .control-cont label{line-height:20px}
.form-horizontal .help-block{margin:0;font-size:12px;line-height:26px}
.form-horizontal .dp-input{vertical-align:middle}
.app-container .form-horizontal .form-group{margin-bottom:10px}
.app-container .form-horizontal .control-label{padding-top:0}
.app-container .form-horizontal .dp-input input[type="text"],.app-container .form-horizontal .dp-input input[type="password"],.app-container .form-horizontal .dp-input input[type="file"]{padding-top:2px;padding-bottom:2px}
.form-horizontal .btn-reset{height:18px;padding-left:10px;padding-right:10px}
.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{padding-top:0}
.form-horizontal .radio-inline input,.form-horizontal .checkbox-inline input{cursor:pointer}
.form-horizontal .checkbox,.form-horizontal .radio{padding-left:20px;cursor:pointer}
.form-horizontal .gap{padding-left:15px}
.form-horizontal .picbox{position:relative;display:inline-block;width:60px;height:60px}
.form-horizontal .picbox .delete{position:absolute;top:-11px;right:-11px}
.form-horizontal .select-bgc,.form-horizontal .select-fcolor{width:230px;font-size:0}
.form-horizontal .select-bgc .bgc-option,.form-horizontal .select-fcolor .bgc-option{position:relative;display:inline-block;margin-right:3px;width:20px;height:20px;line-height:20px;border:1px solid #ddd;border-radius:2px;vertical-align:middle;cursor:pointer;font-size:12px;text-align:center}
.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after{content:"";display:none;position:absolute;bottom:0;right:0;width:10px;height:10px;line-height:10px}
.form-horizontal .select-bgc .bgc-option:hover,.form-horizontal .select-bgc .bgc-option.checked,.form-horizontal .select-fcolor .bgc-option:hover,.form-horizontal .select-fcolor .bgc-option.checked{border:1px solid #4BC321}
.form-horizontal .select-bgc .bgc-option.checked:after,.form-horizontal .select-fcolor .bgc-option.checked:after{display:block}
.form-operate{width:100%;height:70px;text-align:center}
.form-operate .btn{margin:0 5px}
.form-operate-fixed{position:absolute;left:0;bottom:0;width:100%;background:#F6F6F6}
/*# sourceMappingURL=common.css.map */
