@charset "utf-8";

.tags-filter-item{*zoom:1}
.tags-filter-item:before,.tags-filter-item:after{content:"";display:table}
.tags-filter-item:after{clear:both}
.dmm-list .info-desc{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tags-filter-item .tags-content{*zoom:1}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0}
a{background:transparent}
a:hover,a:active{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:"\201C" "\201D" "\2018" "\2019"}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style-image:none}
img{border:0;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top}
optgroup{font-weight:bold}
table{border-collapse:collapse;border-spacing:0}
html{overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font-size:14px;line-height:1.5;color:#333;} /* background:url(../images/bg.png) repeat-y; */
body,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,Tahoma,sans-serif}
img{vertical-align:middle}
textarea{resize:vertical}
h1,h2,h3,h4,h5,h6,p,figure,form{margin:0}
ul,ol,li,dl,dd{margin:0;padding:0}
ul,ol{list-style:none outside none}
h1,h2,h3{line-height:2;font-weight:normal}
h1{font-size:21px}
h2{font-size:18.2px}
h3{font-size:16.38px}
h4{font-size:14px}
h5,h6{font-size:11.9px;text-transform:uppercase}
a{text-decoration:none;color:#08c}
a:hover{color:#069}
input:-moz-placeholder,textarea:-moz-placeholder{color:#ccc}
input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
.text-justify,.dmm-nav-text li,.dmm-nav-text .item,.dmm-more li,.dmm-more .item{text-align:justify;text-align-last:justify}
.text-justify:after,.dmm-nav-text li:after,.dmm-nav-text .item:after,.dmm-more li:after,.dmm-more .item:after{display:inline-block;overflow:hidden;width:100%;height:0;content:'';vertical-align:top}
.fl{float:left}
.fr{float:right}
.dib,.inline-block{display:inline-block;*display:inline;*zoom:1}
.dn,.hide{display:none}
.db{display:block}
.hidetxt{overflow:hidden;font-size:24px;line-height:0;color: #fff}
.wh0{width:0;height:0}
.tdu{text-decoration:underline}
.tal,.text-left{text-align:left}
.tac,.text-center{text-align:center}
.tar,.text-right{text-align:right}
.vam{vertical-align:middle}
.vat{vertical-align:top}
.vam{vertical-align:middle}
.btn{cursor:pointer}
.btn:hover{text-decoration:none}
.center-hor{margin-left:auto;margin-right:auto}
.clearfix{} /* background-image:url(../images/menu_icon.png);  background-position:14px 3px; background-repeat:no-repeat; */
.clearfix,.container,.clear{*zoom:1}
.clearfix:after,.container:after,.clear:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dibwrap{font-size:0;*word-spacing:-1px}
.dibwrap .dib{font-size:12px;letter-spacing:normal;word-spacing:normal;vertical-align:top}
.btn,.dp-input input[type="text"],.dp-input input[type="password"],.dp-input input[type="color"],.dp-input input[type="file"],.dp-textarea textarea{border-color:#ddd;border-radius:2px}
.dp-nav ul,.dp-nav li,.dp-nav a{height:100%}
.dp-nav-inner{*zoom:1}
.dp-nav-inner:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dp-nav li{float:left}
.dp-nav a{display:block;color:#7a7a7a}
.dp-nav a:hover,.dp-nav .current{position:relative;bottom:-1px;border-bottom:2px solid #03a9f5;color:#03a9f5;line-height:22px !important}
.dp-page-head{position:relative;margin-bottom:20px;border-bottom:2px solid #eaeaea}
.dp-page-head .title{display:inline-block;position:relative;bottom:-1px;border-bottom:2px solid #03a9f5;color:#03a9f5;} /*#00ca93*/
.dp-page-head .title,.dp-page-head .dp-nav a{padding:5px 20px;height:24px;line-height:24px;font-size:14px}
.dp-page-head .dp-nav{height:100%}
.dp-page-head .left-item{height:100%}
.dp-page-head .left-item,.dp-page-head .right-item{font-size:0}
.dp-page-head .left-item .item,.dp-page-head .right-item .item{font-size:12px}
.dp-page-head .left-item .dp-dropdown,.dp-page-head .right-item .dp-dropdown{width:80px}
.dp-page-head .left-item .dp-dropdown .btn,.dp-page-head .right-item .dp-dropdown .btn{line-height:18px}
.dp-page-head .left-item .item{padding-right:10px}
.dp-page-head .left-item .btn-large{padding-left:0;padding-right:0;width:100px}
.dp-page-head .right-item{position:absolute;top:0px;right:3px;height:100%}
.dp-page-head .right-item .item{padding-left:5px}
.dp-page-head .right-item .dp-dropdown{width:80px}
.dp-page-head .right-item .dp-dropdown .btn{line-height:18px}
.dp-panel-head{padding:10px 18px;height:18px;line-height:18px;background-color:#f4f4f4}
.dp-panel-head .title{float:left;height:18px;line-height:18px;padding:0 10px;border-left:5px solid #E27000;font-size:14px;color:#000}
.dp-table{border-width:0 0 1px;border-style:solid}
.dp-table thead{background:#7f8fa8}
.dp-table thead tr th{font-weight:normal;border-bottom-width:1px;border-right:0;border-left:0;color:#fff;font-size:13px; line-height:22px;}
.dp-table tbody tr:hover{background:#f0f0f0 !important}
.dp-table,.dp-table thead tr th,.dp-table tbody tr td{border-color:#eaeaea;text-align:center;vertical-align:middle;word-break:break-all;word-wrap:break-word}
.dp-table.table-bordered{border-top-width:1px;border-top-color:#686868}
.dp-table.table-bordered thead{border-right:1px solid #686868}
.dp-table.table-striped tbody tr:nth-of-type(odd){background:#fff}
.dp-table.table-striped tbody tr:nth-of-type(even){background:#f7f7f7}
.dp-table.table-striped tbody tr:nth-of-type(even) td{border-top-width:0}
.dp-table-large thead tr th,.dp-table-large tbody tr td{padding:12px}
.dp-table-lightgray thead{background:#F1F1F1}
.dp-table-lightgray thead tr th{color:inherit}
.dp-table .dp-col-align-left{text-align:left}
.dp-table .dp-col-align-right{text-align:right}
.btn{border-width:1px;border-style:solid;background:#eeeeee;padding:3px 10px;color:#5e5e5e;outline:0;font-size:12px}
.btn:active,.btn:focus{outline:0;box-shadow:none}
.btn-default{background:#F8F8F8}
.btn-default:hover,.btn-default:active,.btn-default:focus{border-color:#ddd !important;background:#f5f5f5;color:#7a7a7a}
.btn-orange{background:#e27000;border-color:#e27000;color:#fff}
.btn-orange:hover, .btn-orange:active, .btn-orange:focus { background: #dd6d00; color: #fff;}
/*
.btn-orange{background:#00ca93;border-color:#00ca93;color:#fff}
.btn-orange:hover,.btn-orange:active,.btn-orange:focus{background:#54ddaf;color:#fff}
*/
.btn-green{background:#4BC321;border-color:#4BC321;color:#fff}
.btn-green:hover,.btn-green:active,.btn-green:focus{background:#49bf20;color:#fff}
.btn-blue{background:#54a1ec;border-color:#54a1ec;color:#fff}
.btn-blue:hover,.btn-blue:active,.btn-blue:focus{background:#54a1ec;color:#fff}
.btn-link,.btn-link:hover{color:#07d}
.btn-large{padding:8px 0;width:100px;font-size:14px}
.btn-small{padding:0;width:80px;height:30px;line-height:30px}
.dp-tfoot .page-cnt{text-align:right}
.dp-tfoot .btns{margin-top:20px;font-size:0}/*
.dp-tfoot .btns .btn{padding:0;width:78px;line-height:30px}*/
.dp-dropdown,.dp-dropdown a{color:#262626}
.dp-dropdown .btn{border-radius:0;padding-left:10px;padding-right:10px}
.dp-dropdown .dropdown-menu{ width: 125px; margin-top:0;border-color:#ddd;border-radius:0;min-width:100%;max-height:200px;overflow-y:auto;overflow-x:hidden;text-align: center; padding: 0;}
.dp-dropdown .dropdown-menu li{}
.dp-dropdown .dropdown-menu a{color:#5f5f5f;padding-left:10px;padding-right:10px}
.dp-dropdown .dropdown-menu a:hover,.dp-dropdown .dropdown-menu a.selected{background:#03a9f4;color:#fff}
.dp-dropdown .dp-search{margin-left:4px;margin-right:4px;margin-bottom:5px}
.dp-dropdown .dp-search input[type="text"]{padding-top:2px;padding-bottom:2px;padding-left:20px;box-shadow:inset 0 1px 3px #ddd}
.dp-dropdown .dp-search .glyphicon-search{top:7px;left:6px;font-size:12px}
.dp-dropdown-fix{width:80px}
.dp-dropdown-fix .btn{padding:0;width:100%;height:26px;line-height:26px}
.dp-dropdown-fix .dropdown-menu li a{height:20px;overflow:hidden;white-space:break}
.dp-page{margin:10px 0;text-align:center}
.dp-page a{display:inline-block;margin:0 3px;padding:3px 8px;border:1px solid #ddd;border-radius:2px;color:#7a7a7a;font-size:12px;background:#fff}
.dp-page a:first-child,.dp-page a:last-child{padding-left:12px;padding-right:12px;background:#F7F7F7}
.dp-page a:hover{background:#f2f2f2}
.dp-page .pagecurrent{border-color:#7f8fa8;color:#fff}
.dp-page .pagecurrent,.dp-page .pagecurrent:hover{background:#7f8fa8}
.dp-page-large a{padding:5px 12px;font-size:14px}
.dp-page-right{text-align:right}
.dp-input input[type="text"],.dp-input input[type="password"],.dp-input input[type="color"],.dp-input input[type="file"]{padding:5px 0px 5px 7px;height:20px;min-width:40px;max-width:100%}
.dp-input input[type="text"]:focus,.dp-input input[type="password"]:focus,.dp-input input[type="color"]:focus,.dp-input input[type="file"]:focus{border-color:#66afe9}
.ipt-width-long{width:360px}
.ipt-width-mid{width:210px}
.ipt-width-short{width:160px}
.ipt-width-shorter{width:60px}
.dp-select{padding:3px 5px;border-color:#ddd}
.dp-textarea textarea{padding:12px;width:230px;line-height:22px}
.dp-search{position:relative}
.dp-search input[type="text"]{padding-left:26px}
.dp-search .glyphicon-search{position:absolute;top:9px;left:8px;color:#888;font-size:14px}
.dp-checkbox,.dp-radio,.dmm-radio{position:relative;cursor:pointer;-webkit-appearance:none;width:16px;height:16px;margin-top:0 !important}
.dp-checkbox:before,.dp-checkbox:after,.dp-radio:before,.dp-radio:after,.dmm-radio:before,.dmm-radio:after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;font-size:12px}
.dp-checkbox:before,.dp-checkbox:after{border-radius:2px}
.dp-checkbox:before{border:1px solid #eaeaea;background:#fff}
.dp-checkbox:checked:after,.dp-checkbox.checked:after{content:"\2714";border-color:#6ED13D;background-color:#6ED13D;text-align:center;color:#fff}
.dp-radio:before{border-radius:16px;border:1px solid #ddd}
.dp-radio:checked:after,.dp-radio.checked:after{top:0;right:0;bottom:0;left:0;margin:auto;width:60%;height:60%;border-radius:60%;background:#6ED13D}
.dp-search-item{font-size:0 !important}
.dp-search-item input[type="text"]{display:inline-block;padding-top:2px;padding-bottom:2px;width:auto}
.dp-search-item .dp-input{margin-right:4px}
.dp-thumbpic{display:inline-block}
.dp-pic-and-txt{position:relative}
.dp-pic-and-txt .dp-thumbpic{position:relative;float:left;border:1px solid #E5E5E5}
.dp-pic-and-txt .dp-thumbpic img{width:52px;height:52px}
.dp-pic-and-txt .dp-thumbpic .dp-checkbox{position:absolute;left:-1px;bottom:-1px}
.dp-pic-and-txt .txt{position:relative;margin-left:70px;padding-bottom:24px;min-height:30px}
.dp-pic-and-txt .txt-top{padding-top:5px}
.dp-pic-and-txt .txt-foot{position:absolute;left:0;bottom:5px}
.dp-tips{padding:0 15px;background:#FFF6BA;border:1px solid #FFD178}
.dp-modal{top:30%;font-size:14px}
.dp-modal .modal-mi{width:500px}
.dp-modal .modal-content{border-color:#E27000;border-width:4px 0 0 0;border-radius:0;box-shadow:none}
.dp-modal .modal-header{padding:13px 0 0;height:40px;background:#F1F1F1;border-bottom:0}
.dp-modal .modal-header .close{font-family:\5B8B\4F53;margin-top:5px;margin-right:14px;color:#E27000;opacity:0.8}
.dp-modal .modal-header .close:hover{opacity:1}
.dp-modal .modal-body{padding:15px 30px}
.dp-modal .modal-footer{margin-top:30px;padding:15px 30px;text-align:left}
.dp-modal .form-horizontal{margin:auto}
.dp-modal .nav-tabs{padding:0 22px;border-bottom:0}
.dp-modal .nav-tabs a,.dp-modal .nav-tabs h4{color:inherit;padding-top:10px;padding-bottom:10px;border:0 !important;border-radius:0;font-size:14px}
.dp-modal .nav-tabs a:hover{background:#ddd}
.dp-modal .nav-tabs .active a{color:#E27000 !important}
.dp-modal .nav-tabs h4{padding-left:20px;padding-right:20px;background:#fff;color:#E27000;font-weight:normal}
.dp-modal-common .modal-body{padding-top:30px}
.dp-modal-common .msg{text-align:center}
.dp-modal-common .modal-footer{margin-top:0;padding-bottom:30px;border-top:0;text-align:center}
.dp-modal-common .modal-footer .btn{margin:0 10px}
@media \0screen\,screen\9{.header{border-bottom:1px solid #ddd}
}
*{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
html{overflow-y:auto}
body{padding-right:0 !important;font-size:12px;font-family:\5FAE\8F6F\96C5\9ED1;line-height:1.5;color:#7a7a7a}
a{cursor:pointer;color:#07d}
a:hover{text-decoration:none;color:#0063c9}
a.tdu:hover{text-decoration:underline}
input,button,select{outline:0 !important;font-family:\5FAE\8F6F\96C5\9ED1;vertical-align:middle}
input,textarea,.form-control{color:inherit}
input:focus,textarea:focus,.form-control:focus{color:inherit}
input[type="checkbox"],input[type="radio"]{ vertical-align: -2px;}
textarea{resize:none}
em,strong{font-style:normal;font-weight:normal}
label{font-weight:normal}
img{max-width:100%}
li{list-style:none}
p,div{word-wrap:break-word}
.inner,.container{position:relative;margin-left:auto;margin-right:auto;width:100%;}
@media screen and (min-width: 1200px){.inner,.container{width:100%}
}
.red,.red:hover{color:#EF2121}
.blue,.blue:hover{color:#07d}
.orange,.orange:hover{color:#E27000}
.green,.green:hover{color:#449d44}
.gray,.gray:hover{color:#ccc}
.gray-dark,.gray-dark:hover{color:#7a7a7a}
.tips{color:#adadad}
.g-icon,.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after,.main-container .table-wrap td .groupname .hot:after,.main-container .table-wrap td .groupname .new:after{display:inline-block;vertical-align:middle;background-image:url('../images/g-icon-s1772b29764.png');background-repeat:no-repeat;background-size:24px 227px}
.g-icon-add{width:14px;height:14px;background-position:0 0}
.g-icon-aside-ico1{width:16px;height:16px;background-position:0 -14px}
.g-icon-aside-ico2{width:16px;height:16px;background-position:0 -30px}
.g-icon-aside-ico3{width:16px;height:16px;background-position:0 -46px}
.g-icon-aside-ico4{width:16px;height:19px;background-position:0 -62px}
.g-icon-aside-ico5{width:19px;height:14px;background-position:0 -81px}
.g-icon-aside-ico6{width:20px;height:18px;background-position:0 -95px}
.g-icon-aside-ico7{width:18px;height:18px;background-position:0 -113px}
.g-icon-check-small,.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after{width:10px;height:10px;background-position:0 -131px}
.g-icon-close-small{width:16px;height:16px;background-position:0 -141px}
.g-icon-close{width:24px;height:24px;background-position:0 -157px}
.g-icon-nav-user{width:17px;height:16px;background-position:0 -181px}
.g-icon-star,.main-container .table-wrap td .groupname .hot:after,.main-container .table-wrap td .groupname .new:after{width:15px;height:14px;background-position:0 -197px}
.g-icon-user{width:12px;height:16px;background-position:0 -211px}
.delete .g-icon,.delete .form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-bgc .delete .bgc-option:after,.delete .form-horizontal .select-fcolor .bgc-option:after,.form-horizontal .select-fcolor .delete .bgc-option:after,.delete .main-container .table-wrap td .groupname .hot:after,.main-container .table-wrap td .groupname .delete .hot:after,.delete .main-container .table-wrap td .groupname .new:after,.main-container .table-wrap td .groupname .delete .new:after{vertical-align:top}
.icon-pay{display:inline-block;vertical-align:middle;background-image:url('../images/icon-pay-s8dcc458e0b.png');background-repeat:no-repeat;background-size:16px 64px}
.icon-pay-ali{width:16px;height:16px;background-position:0 0}
.icon-pay-bankcard{width:16px;height:16px;background-position:0 -16px}
.icon-pay-delivery{width:16px;height:16px;background-position:0 -32px}
.icon-pay-weixin{width:16px;height:16px;background-position:0 -48px}
.inline-block{display:inline-block}
.text-center{text-align:center}
.text-right{text-align:right}
.vercenter-wrap{display:table;/*line-height: 30px;*/}
.vercenter{display:table-cell;vertical-align:middle; }
.header{top:0;left:0;width:100%;z-index:10;height:62px;border-top: 3px solid #76818f;border-bottom: 1px solid #d9dadc;}
.header-inner{width:100%}
@media screen and (min-width: 1200px){.header-inner{width:100%}
}
.header-logo{position:absolute;left:24px;top:13px;width:103px;height:33px;}
.header-logo a{display:block;height:100%;background: url("../images/logo.png") no-repeat; text-indent: -9999px;}
.header-logo img{display: block;}
.header-nav{margin-left:140px;padding-top:0px}
.header-nav .nbtn{float:left; text-align:center}
.header-nav a{display:block;padding:19px 15px;margin: 0 14px;height:auto;line-height:24px;color:#9ba7bb;font-size:14px}
.header-nav a:hover,.header-nav .current a{color:#59647a; font-weight: bold; background-color: #eff0f2;}
.header-right{position:absolute;top:0;right:0px}
.header .user{padding:19px;height:24px;line-height:24px; font-size: 14px; color: #d9dadc;}
.header .user .username{ color: #76818f;}
.header .settings{display:inline-block;}
.header .settings .btn{border:0;background:none; font-size:14px; color:#76818f;}
.header .settings .dropdown-menu a{font-size:14px;line-height:24px;padding-top: 10px; padding-bottom: 10px;}
.header .settings .dropdown-menu .dp-iconfont{display:inline-block;width:16px;height:16px;text-align:center;margin-right:5px}
.container{position:relative;padding-left:0;padding-right:0;margin-top:0px;margin-bottom:0px;min-height: 1024px;} /* background-color:#f3f7f8; */
.main-inner{position:relative;margin-left:154px;padding:15px 15px 25px 14px;min-height:500px}
.main-header{padding:10px 0;background:#f8f8f8;border-bottom:1px solid #E27000}
.main-header .title{margin-left:24px;color:#E27000}
.main-body{padding:10px 0;min-height:400px}
.aside{position:absolute;left:0;top:0;bottom:0;float:left;width:154px; border-right:1px solid #d9dadc; color: #a1adc1; min-height: 900px;}
.aside .title,.aside .links a{padding-left:12px;padding-right:12px}
.aside .title:first-child{height:50px;line-height:50px;}
.aside .links-main{padding:10px 0}
.aside .links-main .btn{display:block;margin:4px auto;width:132px;padding:0;height:52px;line-height:52px;font-size:14px}
.aside .links-main .btn .link-txt,.aside .links-main .btn .arrow{vertical-align:middle}
.aside .links-main .btn .arrow{margin-left:5px;width:0px;height:0px;font-size:0;overflow:hidden;border-width:3px;vertical-align:middle;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #7a7a7a}
.aside .links-main .btn-orange .arrow{width:0px;height:0px;font-size:0;overflow:hidden;border-width:3px;vertical-align:middle;border-style:dashed dashed dashed solid;border-color:transparent transparent transparent #fff}
.aside .links-list{padding-bottom:0}
.aside .links-list a{position:relative;display:block; width: 131px; height:25px;line-height:26px;color:#778aaa; font-size:12px;}
.aside .links-list a:hover,.aside .links-list a.current{color:#e8f0f6;background:#7c89a3;}
.aside .links-list a strong{font-size:14px;font-weight:normal}
.aside .links-list .link-txt{margin-left:28px}
.aside .links-list .pointing{text-align:right;float:right;font-family:微软黑体}
.aside .title{position:relative;height:30px;line-height:35px;} /* background: url(../images/line.png) repeat-x left top; */
.aside .title .tit-txt{margin-left:16px;font-size:14px;color: #536685;}
.aside .title .icon-box{position:absolute;top:0;left:12px;width:24px;height:100%}
.aside .title .g-icon,.aside .title .form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-bgc .aside .title .bgc-option:after,.aside .title .form-horizontal .select-fcolor .bgc-option:after,.form-horizontal .select-fcolor .aside .title .bgc-option:after,.aside .title .main-container .table-wrap td .groupname .hot:after,.main-container .table-wrap td .groupname .aside .title .hot:after,.aside .title .main-container .table-wrap td .groupname .new:after,.main-container .table-wrap td .groupname .aside .title .new:after{position:absolute;left:0;right:0;top:0;bottom:0;margin:auto}
.container .dp-page-head{height:auto;min-height: 36px;}
.popover{max-width:500px}
.popover-content{min-width:150px;font-family:inherit;font-size:14px}
.popover .popover-main,.popover .opt-btns{display:inline-block;vertical-align:middle}
.popover .opt-btns .btn{margin:0 5px;padding-left:10px;padding-right:10px;vertical-align:middle}
.form-horizontal .form-group{margin-left:0;margin-right:0;margin-bottom:15px;font-size:14px}
.form-horizontal .form-group input[type="checkbox"], .form-horizontal .form-group input[type="radio"]{ top: 6px;}
.form-horizontal .form-group .vercenter-wrap{line-height: 30px;}
.form-horizontal .form-group:last-child{margin-bottom:0}
.form-horizontal .control-label{float:left;padding-top:2px;padding-right:0;width:98px; text-align:right; line-height:26px}
.form-horizontal .required{margin-right:2px;color:#EF2121;vertical-align:middle}
.form-horizontal .control-cont{margin-left:100px;line-height:30px}
.form-horizontal .control-cont label{line-height:20px}
.form-horizontal .help-block{margin:0;font-size:12px;line-height:26px}
.form-horizontal .dp-input{vertical-align:middle}
.app-container .form-horizontal .form-group{margin-bottom:10px}
.app-container .form-horizontal .control-label{padding-top:0}
.app-container .form-horizontal .dp-input input[type="text"],.app-container .form-horizontal .dp-input input[type="password"],.app-container .form-horizontal .dp-input input[type="file"]{padding-top:2px;padding-bottom:2px}
.form-horizontal .btn-reset{height:18px;padding-left:10px;padding-right:10px}
.form-horizontal .radio-inline,.form-horizontal .checkbox-inline{padding-top:0}
.form-horizontal .radio-inline input,.form-horizontal .checkbox-inline input{cursor:pointer}
.form-horizontal .checkbox,.form-horizontal .radio{padding-left:20px; line-height:27px;cursor:pointer}
.form-horizontal .gap{padding-left:15px}
.form-horizontal .picbox{position:relative;display:inline-block;width:60px;height:60px}
.form-horizontal .picbox .delete{position:absolute;top:-11px;right:-11px}
.form-horizontal .select-bgc,.form-horizontal .select-fcolor{width:230px;font-size:0}
.form-horizontal .select-bgc .bgc-option,.form-horizontal .select-fcolor .bgc-option{position:relative;display:inline-block;margin-right:3px;width:20px;height:20px;line-height:20px;border:1px solid #ddd;border-radius:2px;vertical-align:middle;cursor:pointer;font-size:12px;text-align:center}
.form-horizontal .select-bgc .bgc-option:after,.form-horizontal .select-fcolor .bgc-option:after{content:"";display:none;position:absolute;bottom:0;right:0;width:10px;height:10px;line-height:10px}
.form-horizontal .select-bgc .bgc-option:hover,.form-horizontal .select-bgc .bgc-option.checked,.form-horizontal .select-fcolor .bgc-option:hover,.form-horizontal .select-fcolor .bgc-option.checked{border:1px solid #4BC321}
.form-horizontal .select-bgc .bgc-option.checked:after,.form-horizontal .select-fcolor .bgc-option.checked:after{display:block}
.form-operate{width:100%;height:70px;text-align:center}
.form-operate .btn{margin:0 5px}
.form-operate-fixed{position:absolute;left:0;bottom:0;width:100%;background:#F6F6F6}
.app-design{*zoom:1;margin-bottom:100px}
.app-design:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.app-phone{float:left;width:350px}
.app-phone-header{height:67px;background:url(../images/app-phone-header.png) 0 0 no-repeat}
.app-phone-body{border:1px solid #E5E5E5;border-width:0px 1px}
.app-phone-footer{height:97px;background:url(../images/app-phone-footer.png) 0 0 no-repeat}
.app-design .app-demo{margin:auto;width:320px;border:1px solid #ddd}
.app-design .app-demo-main{min-height:300px;background:#F1F1F1}
.app-design .app-demo-main .titlebar{height:64px;background:#222 url(../images/app-phone-titlebar.png) 0 0 no-repeat}
.app-design .app-demo-main .titlebar .title{padding:18px 60px 0;width:200px;height:46px;line-height:46px;text-align:center;color:#fff;font-size:16px;cursor:pointer}
.app-design .app-demo-modsmenu{padding:5px 0;background:#F5F5F5}
.app-design .app-demo-modsmenu .title{padding:5px 0;background:url(../images/app-modsmenu-tit.png) 50% 50% no-repeat}
.app-design .app-modsmenu{*zoom:1;margin:auto;width:320px}
.app-design .app-modsmenu:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.app-design .app-modsmenu .title{height:26px;line-height:26px;font-size:14px;text-align:center}
.app-design .modslist-box{*zoom:1;margin-left:8px;margin-right:8px}
.app-design .modslist-box:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.app-design .modslist{width:105%}
.app-design .modslist li{float:left;display:table;margin:0 5px 5px 0}
.app-design .modslist li a{display:table-cell;width:55px;height:40px;background:#fff;border:1px solid #ddd;line-height:14px;vertical-align:middle;text-align:center;color:#7a7a7a}
.app-design .modslist li a:hover{background:#07d;color:#fff}
.app-design .operate-box,.app-design .app-config-form{position:relative;padding:16px;border:1px solid #E6E6E6;background:#F9F9F9}
.app-design .operate-box:before,.app-design .app-config-form:before{content:"";position:absolute;top:-1px;left:-13px;width:14px;height:14px;background-image:url(../images/app-tip.png);background-repeat:no-repeat}
.app-design .app-config-form{position:absolute;left:112%;top:0;width:440px}
.app-design .app-config-form .radio-inline,.app-design .app-config-form .checkbox-inline{margin-top:-2px}
.app-design .dp-textarea textarea{width:380px}
.app-design .btn-add-option{padding:10px 10px;width:418px;text-align:left}
.app-design .btn-add-option .g-icon-add{margin-right:3px;margin-top:-2px}
.app-design .addnav-item{margin-bottom:10px;padding:10px;border:1px solid #ddd;*zoom:1;background:#fff}
.app-design .addnav-item:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.app-design .addnav-item .chioceimg{float:left;width:120px;height:120px;border:1px solid #ddd;text-align:center}
.app-design .addnav-item .addimg{height:100%;cursor:pointer}
.app-design .addnav-item .addimg .vercenter-wrap{width:100%;height:100%}
.app-design .addnav-item .preview{display:none;position:relative;height:100%;background:#ddd}
.app-design .addnav-item .modify-img{position:absolute;left:0;bottom:0;width:100%;height:24px;line-height:24px;background-color:transparent;zoom:1;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);text-align:center;color:#fff}
.app-design .addnav-item .form-group-wrap{float:left;margin-left:5px}
.app-design .addnav-item .form-group-wrap .control-label{width:60px}
.app-design .addnav-item .form-group-wrap .control-cont{margin-left:60px}
.app-design .addnav-item .select-bgc{width:190px;line-height:25px}
.app-design .navbar{margin-top:330px;height:45px}
.app-design .navbar-default{border-top:1px solid #ddd}
.app-design .navbar-default,.app-design .navbar-default .nav-list,.app-design .navbar-default li,.app-design .navbar-default a{height:100%}
.app-design .navbar-default .nav-list{display:-webkit-box;display:-ms-flexbox}
.app-design .navbar-default li{-webkit-box-flex:1;-ms-flex:1;position:relative;border-left:1px solid #ddd}
.app-design .navbar-default li:first-child{border-left:0}
.app-design .navbar-default a{display:block;text-align:center;color:#999}
.app-design .navbar-default .iconbox{position:absolute;top:-20px;right:-60px;bottom:0;left:-60px;margin:auto;width:72px;height:72px}
.app-design .navbar-default .icon{display:block;width:72px;height:72px;background:#999;-webkit-transform:scale(0.3,0.3);transform:scale(0.3,0.3);-webkit-transform-origin:center;transform-origin:center}
.app-design .navbar-default .nav-text{position:absolute;left:0;right:0;top:56%}
.app-design .navbar-default .current a{color:#42C11A}
.app-design .navbar-default .current .icon{background:#42C11A}
.app-modscont .app-module-wrap{position:relative}
.app-modscont .app-module-wrap:hover .app-action,.app-modscont .app-module-wrap.editing .app-action{display:block}
.app-modscont .app-module{color:#333}
.app-modscont .app-action{display:none;position:absolute;top:0;left:0;right:0;bottom:0;border:2px dashed #FF8080;cursor:move}
.app-modscont .app-action .action-warp{position:absolute;right:0;bottom:0}
.app-modscont .app-action .action-warp .action{display:inline-block;margin-left:1px;padding:0 5px;background-color:transparent;zoom:1;background-color:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);color:#fff}
.app-modscont .app-action .action-warp .action:hover{background-color:transparent;zoom:1;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)}
.app-modscont [data-module-type="page"] .app-action{cursor:default}
.app-form .form-item,.app-config-form .form-item{position:relative}
.app-form .form-item .delete,.app-config-form .form-item .delete{display:none;position:absolute;top:-8px;right:-8px}
.app-form .form-item:hover .delete,.app-config-form .form-item:hover .delete{display:block}
.app-form .form-item.cannot-delete:hover .delete,.app-config-form .form-item.cannot-delete:hover .delete{display:none}
.app-form .option-item,.app-config-form .option-item{list-style:decimal inside}
.app-form{float:left;position:relative;margin-left:20px;width:440px}
.app-form-header{min-height:110px;margin-bottom:20px}
.app-form-header .form-horizontal .radio{padding-top:4px}
.app-form-body{margin-bottom:20px}
.app-form-body .form-item{margin-bottom:10px;padding:10px 10px 10px 0;background:#fff;border:1px solid #ddd}
.app-form-body .navicon{display:inline-block;width:60px;height:60px;border:1px solid #ddd;border-radius:6px}
.app-form-body .navicon img{display:block;width:100%;height:100%}
.main-container .table-wrap td .fl{padding-left:5px}
.main-container .table-wrap td .groupname{padding-left:50px;width:150px;text-align:left}
.main-container .table-wrap td .groupname .hot,.main-container .table-wrap td .groupname .new{position:relative}
.main-container .table-wrap td .groupname .hot:after,.main-container .table-wrap td .groupname .new:after{content:"";position:absolute;left:-20px;top:0}
.main-container .table-wrap .dp-pic-and-txt{margin-left:10px}
.main-container .table-wrap .operate-box{padding-right:30px;width:115px;text-align:right}
.add-pic{margin-bottom:10px;font-size:0}
.add-pic .item{display:inline-block;width:60px;height:60px;margin-right:22px;vertical-align:middle}
.add-pic .btn-add{display:block;width:100%;height:100%;line-height:60px;text-align:center;border:1px dashed #ddd;overflow:hidden;cursor:pointer}
.add-pic .btn-add .dp-icon{font-size:30px;color:#ddd}
.add-pic .btn-add:hover .dp-iconfont{color:#d0d0d0;font-weight:bold}
.add-pic .picbox{position:relative}
.add-pic .picbox .dp-thumbpic{border:1px solid #ddd;height:100%;line-height:60px;background:#ddd;overflow:hidden}
.add-pic .picbox .delete{display:none;position:absolute;top:-11px;right:-11px}
.add-pic .picbox:hover .delete{display:block}
.paysetting{margin:30px auto 100px;width:90%;font-size:0}
.paysetting .item{display:inline-block;width:25%;font-size:18px}
.paysetting .icon-pay{margin-right:10px}
.paysetting .dp-checkbox{margin-left:10px}
.appcommset .control-label{width:130px}
.appcommset .control-cont{margin-left:140px}
.admin-edit .control-label{width:100px}
.admin-edit .control-cont{margin-left:120px}
.admin-edit .table-wrap{margin-top:40px}
.admin-edit .table-wrap th,.admin-edit .table-wrap td{padding-top:10px;padding-bottom:10px}
.admin-edit .table-wrap .col-2{text-align:left;padding-left:20px}
.admin-edit .table-wrap thead th{border-right:1px solid #fff}
.admin-edit .table-wrap tbody th{background:#f8f8f8;text-align:center;font-weight:normal}
.article-edit .dp-dropdown .btn{padding-top:6px;padding-bottom:6px}
.article-edit .dp-textarea{width:410px;height:290px}
.article-edit .form-operate{margin-left:105px;text-align:left}
.goods-container{margin-bottom:100px}
.goods-container .goods-type{width:720px}
.goods-container .goods-type li{float:left;margin:0 15px 15px 0}
.goods-container .goods-type a{padding:0;width:100px;height:34px;line-height:34px}
.goods-container .goods-type a:hover,.goods-container .goods-type a.selected{border-color:#E27000;color:#E27000}
.goods-container .goods-attr-edit{padding:5px;width:520px;background:#f8f8f8}
.goods-container .goods-attr-edit .select-attr,.goods-container .goods-attr-edit .attr-value{padding:5px;line-height:26px}
.goods-container .goods-attr-edit .select-attr{position:relative;background:#fff}
.goods-container .goods-attr-edit .select-attr .delete{display:none;position:absolute;top:0;right:10px;bottom:0;margin:auto;height:23px}
.goods-container .goods-attr-edit .select-attr:hover .delete{display:block}
.goods-container .goods-attr-edit .select-attr .btn-choice{margin-right:10px}
.goods-container .goods-attr-edit .attr-value-list{display:inline-block}
.goods-container .goods-attr-edit .attr-value-list .btn-choice{margin-right:5px}
.goods-container .goods-attr-edit .btn-choice{position:relative;padding-left:5px;padding-right:5px;cursor:default}
.goods-container .goods-attr-edit .btn-choice .delete{display:none;position:absolute;top:-6px;right:-8px;z-index:2}
.goods-container .goods-attr-edit .btn-choice:hover .delete{display:block}
.goods-container .goods-attr-edit .select-attr-value{width:290px;font-size:0}
.goods-container .goods-attr-edit .select-attr-value .select-input-box{position:relative;margin-right:5px;padding:2px 5px;width:160px;border:1px solid #ddd;border-radius:2px;cursor:text}
.goods-container .goods-attr-edit .select-attr-value .select-input-box li{display:inline-block;margin:2px 0}
.goods-container .goods-attr-edit .select-attr-value .select-input-box .btn-choice{margin-right:3px;padding:0 1px;font-size:12px}
.goods-container .goods-attr-edit .select-attr-value .select-input{padding:0 5px;border:0;font-size:12px}
.goods-container .goods-store-edit{width:530px}
.goods-container .goods-store-edit .table{margin-bottom:0;border-top:1px solid #f8f8f8}
.goods-container .goods-store-edit .table thead{border-right-color:#f8f8f8}
.goods-container .goods-store-edit .table thead th{background:#f8f8f8;color:inherit}
.goods-container .goods-store-edit .table tbody tr:hover{background:none !important}
.comment-manage .table-wrap .dp-pic-and-txt{margin-left:0}
.order-filtrate{padding:20px;background:#f8f8f8;*zoom:1;margin-bottom:-15px}
.order-filtrate:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.order-filtrate .filtrate-left{width:760px;float:left;margin-bottom:-15px}
.order-filtrate .form-group{float:left}
.order-filtrate .control-cont{float:left;margin-left:10px;margin-right:20px}
.order-filtrate .ipt-width-short{width:100px}
.order-filtrate .filtrate-right{float:right}
.order-filtrate .filtrate-right .btn.selected{border-color:#E27000 !important;color:#E27000}
.order-filtrate .filtrate-footer{clear:both;text-align:right}
.app-list li{float:left;margin:0 20px 20px 0}
.tags-filter-item{padding-top:5px}
.tags-filter-item .tags-label{float:left;width:42px}
.tags-filter-item .tags-content{overflow:hidden}
.tags-filter-item .tags-content span{float:left;margin-right:10px;padding:0 2px;cursor:pointer;white-space:nowrap;margin-bottom:5px}
.tags-filter-item .tags-content span.active,.tags-filter-item .tags-content span:hover{background-color:#0078E7;color:#fff}
.tags-filter-list .tags-content span{color:#07d}
.tags-filter-list .tags-content span:hover{color:#00ca93;background:none}
.tags-filter-list .tags-content span.active{color:#474747;background:none}
.modal-addpicclassify .panel{float:left}
.modal-addpicclassify .panel-left{width:290px;height:230px;background:#f8f8f8;border:1px solid #ddd}
.modal-addpicclassify .panel-left .list{padding:8px;height:214px;overflow-y:auto}
.modal-addpicclassify .panel-left li{margin-bottom:5px;height:40px;line-height:40px;background:#f0f0f0;padding:0 20px;overflow:hidden}
.modal-addpicclassify .panel-right{margin-left:20px;width:270px}
.upload-newpic{margin-bottom:-15px}
.upload-newpic h5{font-size:16px;line-height:2;font-weight:normal}
.upload-newpic .add-pic{margin:20px 0}
.modal-piclib{top:0 !important}
.modal-piclib .list{overflow:hidden;width:110%;*zoom:1}
.modal-piclib .list:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.modal-piclib .list li{position:relative;float:left;margin-right:8px;margin-top:8px;width:60px;height:60px;border:3px solid #fff;background-color:#ddd;cursor:pointer}
.modal-piclib .list li img{display:block;width:100%;height:100%}
.modal-piclib .list li:hover,.modal-piclib .list li.checked{border-color:#4BC321}
.modal-piclib .list .checked:after{content:"\2714";position:absolute;top:-8px;right:-8px;width:16px;height:16px;line-height:16px;border-radius:16px;background:#4BC321;color:#fff;font-size:12px;text-align:center}
.modal-piclib .list .size{position:absolute;left:0;bottom:0;width:100%;height:20px;line-height:20px;background-color:transparent;zoom:1;background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);text-align:center;color:#fff;font-size:12px;overflow:hidden}
.modal-piclib .dp-page{float:right;margin:8px 0;text-align:right}
.modal-piclib .dp-page a{padding:0px 5px;border:0;background:none}
.modal-piclib .dp-page a:hover{color:#00ca93}
.modal-piclib .dp-page a.pagecurrent{background:#00ca93;color:#fff}
.userpic,.iconlib{margin-bottom:-15px}
.userpic .userpic-list,.iconlib .userpic-list{position:relative;width:100%}
.userpic-list,.iconlib-list{position:relative;width:100%}
.userpic li{line-height:60px}
.userpic li img{display:inline-block;height:auto;vertical-align:middle}
.modal-pagelib{top:0 !important}
.modal-pagelib .table tbody{font-size:12px}
.modal-pagelib .table tbody tr td{padding:4px}
.input-file{position:absolute;right:0;top:0;opacity:0;filter:alpha(opacity=0);cursor:pointer}
.dmm-title{padding:10px;font-size:18px;border-bottom:1px solid #e0e0e0;word-break:break-all;word-wrap:break-word}
.dmm-richtext{padding:10px 10px;font-size:16px;line-height:1.5}
.dmm-richtext table{margin:10px 0}
.dmm-richtext th,.dmm-richtext td{padding:2px 3px;border:1px solid #ddd}
.dmm-swiper{position:relative;overflow:hidden}
.dmm-swiper img{display:block;width:100%;height:auto}
.dmm-swiper .swiper-container{width:100%;height:100%;overflow:hidden}
.dmm-swiper .swiper-slide{float:left;width:100%;height:100%}
.dmm-swiper .swiper-pagination{position:absolute;left:0;right:0;bottom:8px;height:10px;line-height:10px;text-align:center}
.dmm-swiper .swiper-pagination-switch{display:inline-block;margin:0 2px;width:10px;height:10px;background-color:#fff;border-radius:10px}
.dmm-swiper .swiper-active-switch{background-color:#F66300}
.dmm-list .list{padding:0 5px}
.dmm-list .list-item{border-bottom:1px solid #ddd}
.dmm-list .list-item a{display:block;*zoom:1}
.dmm-list .list-item a:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dmm-list .minipic{position:relative;float:left;width:120px;height:90px}
.dmm-list .minipic img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;height:auto}
.dmm-list .info{position:relative;margin-left:130px;min-height:90px}
.dmm-list .info-title{max-height:52px;overflow:hidden;color:#000;font-size:16px;line-height:1.3}
.dmm-list .info-desc{height:22px;line-height:22px;color:#7a7a7a;width:100%}
.dmm-list .info-footer{position:absolute;left:0;bottom:0;width:100%}
.dmm-list .info .foot-left{float:left}
.dmm-list .info .foot-right{float:right;color:#7f7f7f}
.dmm-list .info .price{color:#00ca93;font-size:14px}
.dmm-list-easy .list-item{padding:8px 0}
.dmm-list .list{padding:0 5px}
.dmm-list .list-item{border-bottom:1px solid #ddd}
.dmm-list .list-item a{display:block;*zoom:1}
.dmm-list .list-item a:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dmm-list .minipic{position:relative;float:left;width:120px;height:90px}
.dmm-list .minipic img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;height:auto}
.dmm-list .info{position:relative;margin-left:130px;min-height:90px}
.dmm-list .info-title{max-height:52px;overflow:hidden;color:#000;font-size:16px;line-height:1.3}
.dmm-list .info-desc{height:22px;line-height:22px;color:#7a7a7a;width:100%}
.dmm-list .info-footer{position:absolute;left:0;bottom:0;width:100%}
.dmm-list .info .foot-left{float:left}
.dmm-list .info .foot-right{float:right;color:#7f7f7f}
.dmm-list .info .price{color:#00ca93;font-size:14px}
.dmm-list-easy .list-item{padding:8px 0}
.dmm-gap-small{height:20px}
.dmm-gap-medium{height:40px}
.dmm-gap-big{height:60px}
.dmm-navicon{min-height:67.5px;background:#fff}
.dmm-navicon .nav-li{float:left;padding:5px 0;width:25%;text-align:center}
.dmm-navicon .nav-li a{padding:5px 0}
.dmm-navicon .nav-imgbox{position:relative;display:inline-block;width:36px;height:36px;border-radius:36px;overflow:hidden}
.dmm-navicon .nav-imgbox .nav-img{position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;width:30px;height:30px}
.dmm-navicon .nav-imgbox img{display:block;width:100%;height:100%}
.dmm-navicon .nav-text{font-size:15px}
.dmm-nav-text li,.dmm-nav-text .item,.dmm-more li,.dmm-more .item{padding:0 15px;height:45px;line-height:45px;border-bottom:1px solid #ddd;font-size:15px}
.dmm-nav-text a,.dmm-more a{display:block;color:inherit}
.dmm-nav-text .dp-icon,.dmm-more .dp-icon{display:inline-block}
.dmm-more li a{text-align:center}
.dmm-form input[type="text"],.dmm-form textarea,.dmm-form button,.dmm-form .btn{border:0;box-sizing:border-box}
.dmm-input{margin:0.6em 0;height:45px;line-height:45px;width:100%;padding:0 10px}
.dmm-textarea{margin:0.6em 0;width:100%;padding:10px;height:100px;outline:0}
.dmm-select-wrap{position:relative}
.dmm-select-wrap .item{background:#fff;border-bottom:0}
.dmm-select-wrap .dmm-select{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0}
.dmm-select-wrap .dp-icon{width:8px}
.dmm-radio{position:relative;cursor:pointer;-webkit-appearance:none;width:16px;height:16px;line-height:16px;margin-top:0 !important}
.dmm-radio:before,.dmm-radio:after{content:"";position:absolute;left:0;top:0;width:100%;height:100%;font-size:12px;border-radius:16px}
.dmm-radio:before{border:1px solid #6F6F6F}
.dmm-radio:checked:after,.dmm-radio.checked:after{content:"\2714";border-color:#4BC321;background:#4BC321;color:#fff;font-size:12px;text-align:center}
.dmm-radio-wrap .item{margin-bottom:1px;border-bottom:0;background:#fff}
.dmm-radio-wrap .item:last-child{margin-bottom:0}
.dmm-checkbox-wrap{font-size:0;padding:7.5px 15px;margin-bottom:-10px;background:#fff}
.dmm-checkbox-wrap .dmm-checkbox{display:inline-block;padding:0 20px;margin:0 15px 10px 0;height:30px;line-height:30px;border:1px solid #ddd;border-radius:5px;font-size:15px;vertical-align:middle}
.dmm-checkbox-wrap .checked{border-color:#00A0E8;color:#00A0E8}
.dmm-btn{text-align:center}
.dmm-btn-submit{display:block;height:50px;line-height:50px;background:#2571B7;color:#fff;font-size:16px}

.ipt_tips{font-size:12px; color: #5e5e5e; margin-left: 10px; margin-bottom: 0;}
.ipt_tips .icon-exclamation-sign{ font-size: 14px;}
.warning{color: #ee2222; margin-left: 0;}

.footer{background-color: #b8b9b9; text-align: center; color: #ffffff; padding: 22px 0;}
.footer a, .footer span { color: #ffffff; padding: 0 5px;}
/*# sourceMappingURL=pc.css.map */
