    
	<!-- 2015-5-22 -修改 start  .header增加header_fixed类 -->
    <div class="header header_fixed" style="margin-bottom: 0px;">
        <div class="header1">
            <div class="header1in">
                <ul class="headerul1 header_yytc">
                    <li><a style="padding-left:33px;" href="javascript:void(0);" ms-click="AddFavorite('我的网站',location.href)"><i class="header-home"></i>收藏我们</a></li>
                    <li ><a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=639c47ba941171b9bf3b7986c6d94c46f261bb42c9bfb09cf63744f43e0bfca1"><img border="0" src="img/qqqun.jpg" alt="亿七购一元夺宝官方群" title="亿七购一元夺宝官方群">加入QQ群</a></li>
                    <li>
                        <span class="c_contact_icon c_kik">
                            <div  class="pophover-content popover bottom" style="top: 40px;left: -60px;">
                                <div class="popover-content">
                                    <p style="white-space: nowrap">扫码亿七购微信</p>
                                    <div style="width: 100px; height: 100px; margin-left: 10px;">
                                         <img src="img/clienty.jpg" width="100" height="100" border="0" alt="">
                                    </div>
                                </div>
                            </div>
                        </span>
                    </li>
                    <li>
                    	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=285372470&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:285372470:41" alt="欢迎咨询" title="欢迎咨询"/></a>
                    </li>
                </ul>
                <ul class="headerul2">
                    <li class="li_popup_login" ms-if="!isLogin"><a href="javascript:;" ms-click="goLogin">登录</a></li>
                  
                    <li class="li_popup_doregister" ms-if="!isLogin">
                        <a href="#!/reg" style="padding-left:30px;color:#E21931;"><img style="position:absolute;top:14px;left:7px;" src="img/top_add.png">免费注册</a>
                    </li>
					  <li><a href="javascript:void(0);"  ms-click="sign()">签到</a></li>
                    <li class="li_popup_login" ms-if="isLogin"><a href="javascript:;" ms-click="loginOut">退出登录</a></li>
                    <li class="MyzhLi">
                        <a href="javascript:;" style="width: 88px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;"><i class="top" style="left:-6px;"></i>{{isLogin ?　nick : '我的亿七购'}}</a>
                        <dl class="Myzh">
                            <dd><a href="javascript:;" ms-click="jumpPage('recordBuy')">购买记录</a></dd>
                            <dd><a href="javascript:;" ms-click="jumpPage('recordWin')">中奖记录</a></dd>
                            <dd><a href="javascript:;" ms-click="jumpPage('userCenter')">个人中心</a></dd>
                        </dl>
                    </li>
                    <li><a href="javascript:;" ms-click="jumpPage('recharge')">充值</a></li>
                    <!-- <li><a href="javascript:;" ms-click="sign()">签到</a></li> -->
                    <!-- <li><a href="#!/help/question">新手指南</a></li> -->
                </ul>
            </div>
        </div>
        <div class="header2">
            <a href="#!/" class="header_logo" style="margin:-26px 8px;"><img src="img/logo.png" ></a>
           <!--  <a href="#!/" target="_blank">
                <img style="float:left;margin-left:25px;position:relative;top:-2px;" src="img/wx_yun.jpg">
            </a> -->
            <div class="search_header2">
                <s></s>
                <input type="text" placeholder="搜索您需要的商品" value="" ms-duplex="searchKey" ms-keyup="keyupSearch($event)">
                <a href="javascript:;" class="btnHSearch" ms-click="searchStart()" >搜索</a>
               
            </div>
            <!-- 2015 6 9 end-->
            <!-- 头部显示累计交易金额 -->
        </div>
    </div>
    <div style="clear:both;"></div>
    <!-- 导航   start  -->
    <div style="height:46px;width:100%;" ms-if="!showTop"></div>
    <div class="yNavIndexOut yNavIndexOut_fixed yNavIndexOut_fixed_index "  ms-class="{{!showTop ? 'yNavIndexOutfixed' : ''}}">
        <div class="yNavIndex">
            <div class="pullDown"  >
                <h4 class="pullDownTitle" >
                    <a href="#!/allClassify/all" target="">所有商品分类</a>
                </h4>

                <!--<ul class="pullDownList" ms-class="{{(activePage == 'index' && showTop) ? 'show' : ''}}">-->
                <ul class="pullDownList" >
                    <li class="pullDown-item" ms-repeat="classifyList" ms-click="goToClassify(el.goods_type_id)" ms-css-height="{{eachNavHeight}}px" ms-css-line-height="{{eachNavHeight}}px" style="cursor:pointer;">
                        <!-- <i><img ms-attr-src="el.img" style="height:100%;"></i> -->
                        <a href="javascript:void(0);" >{{el.name}}</a><span ms-css-top="{{eachNavHeight/2 - 5}}px"></span>
                      
                    </li>
                    
                </ul>
              
            </div>
            <ul class="yMenuIndex">
                <li><a href="#!/" ms-class="{{activePage == 'index' ? 'yMenua' : ''}}">首页</a></li>
                <li><a href="#!/twopersons" ms-class="{{activePage == 'twoPersons' ? 'yMenua' : ''}}">二人拼团</a></li>
                <li><a href="#!/tenyuan" ms-class="{{activePage == 'tenYuan' ? 'yMenua' : ''}}">十元专区</a></li>
                <li><a href="#!/redpacket" ms-class="{{activePage == 'redpacket' ? 'yMenua' : ''}}">亿七公益</a></li>
                <li><a href="#!/announced" ms-class="{{activePage == 'announced' ? 'yMenua' : ''}}">最新揭晓</a></li>
                <li><a href="#!/share" ms-class="{{activePage == 'share' ? 'yMenua' : ''}}">晒单分享</a></li>
                <li><a href="#!/help/question" ms-class="{{activePage == 'question' ? 'yMenua' : ''}}">新手指南</a></li>
            </ul>
            <div  class="nav-cart" ms-if="!showTop" >
                 <div class="nav-cart-btn">
                     <a href="#!/cartOrder" ><i class="f-cart-icon" style="background: url(img/r-fixed1.png) no-repeat center center;" ></i>清单 <span >{{p_cartInfo.length}}</span></a>
                 </div>
                 <!-- <div class="nav-cart-con">
                     <div class="m-loading-2014"><em></em></div>
                     <div class="nav-car-cartEmpty"><i></i>您的购物车为空 !</div>
                     <div class="nav-cart-select">33</div>
                     <div class="nav-cart-pay"></div>
                 </div> -->
             </div>
        </div>
    </div>
    <!-- 导航   end  -->
    <!--固定导航-->
    <!--<div ms-controller="navFixedCtrl" class="nav_fixed r-fixed" id="nav_fixed" ms-if="isDisplayNav" style="visibility: visible;">
    	  <ul class="r-fixed-nav">
            <li class="toolbar-item toolbar-item-no">
                <a style="height: 40px; line-height: 40px;background-color: #E21931">导航</a>
            </li>
            <li class="toolbar-item">
                <a class="shoppingCartRightFix" >最热商品</a>
            </li>
            <li class="toolbar-item">
                <a href="javascript:void(0);">即将揭晓</a>
            </li>
             <li class="toolbar-item">
                <a href="javascript:void(0);">新品上架</a>
            </li> 
            <li class="toolbar-item">
                <a>十元专区</a>
            </li>
            <li  class="toolbar-item">
                <a>手机电脑</a>
            </li>
            <li  class="toolbar-item">
                <a>家电数码</a>
            </li>
            <li  class="toolbar-item">
                <a>国际名表</a>
            </li>
            <li  class="toolbar-item">
                <a>真金实银</a>
            </li>
            <li  class="toolbar-item">
                <a>食品饮料</a>
            </li>
            <li  class="toolbar-item">
                <a>游戏皮肤</a>
            </li>
            <li  class="toolbar-item">
                <a>精品女性</a>
            </li>
            <li  class="toolbar-item toolbar-item-no" ms-click="scrollTop">
                <a href="javascript:void(0);">
                    <i class="iconfont" style="background:url(img/r-fixed6.png) no-repeat center center;"></i>
                    <div class="item-tip">顶部</div>
                </a>
            </li>
        </ul>
    
    </div>-->
    <!--固定导航 end-->
    <!--r-fixed start-->
    <div class="r-fixed nav-hot-key" style="visibility: visible;">
        <ul class="r-fixed-nav">
            <li class="toolbar-item">
                <a href="#!/cartOrder" class="shoppingCartRightFix" >
                    <em class="num-rt" ms-if="p_cartInfo.length">{{p_cartInfo.length}}</em>
                    <div class="item-tip-c item-tip-checkpage">
                        <div class="item-box">
                            <u class="u-code u-g-ft-wx"></u>
                            <div class="item-tip">购物车</div>
                        </div>
                    </div>
                    <i  class="iconfont" style="background:url(img/r-fixed1.png) no-repeat center center;" id="cart_icon"></i>
                </a>
            </li>
            <li class="toolbar-item">
               <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=645498199&site=qq&menu=yes">
                    <div class="item-tip-c item-tip-checkpage">
                        <div class="item-box">
                            <u class="u-code u-g-ft-wx"></u>
                            <div class="item-tip">在线客服</div>
                        </div>
                    </div>
                    <i  class="iconfont" style="background:url(img/r-fixed2.png) no-repeat center center;" id="cart_icon"></i>
                </a>
            </li>
            <li class="toolbar-item">
                <a href="javascript:void(0);">
                    <div class="item-tip-c item-tip-wx">
                        <div class="item-box">
                            <u class="u-code u-g-ft-wx">
                            <img src="./img/clienty.jpg">
                        </u>
                            <div class="item-tip">关注微信</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(img/QRCode.png) no-repeat center center;"></i>
                </a>
            </li>
            <!-- <li class="toolbar-item">
                <a href="javascript:void(0);">
                    <div class="item-tip-c item-tip-app">
                        <div class="item-box">
                            <u class="u-code u-g-ft-app">
                              <img src="./page/cloud_kik.png">
                        </u>
                            <div class="item-tip">扫码下载APP</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(img/r-fixed4.png) no-repeat center center;"></i>
                </a>
            </li> -->
            <li class="toolbar-item">
                <a href="javascript:;" ms-click="jumpPage('recharge')" title="我要充值">
                    <div class="item-tip-c item-tip-checkpage">
                        <div class="item-box">
                            <div class="item-tip">我要充值</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(img/Recharge.png) no-repeat center center;"></i>
                </a>
            </li>
            <li class="toolbar-item">
                <a href="javascript:;" ms-click="complain()" title="我要充值">
                    <div class="item-tip-c item-tip-checkpage">
                        <div class="item-box">
                            <div class="item-tip">我有建议</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(img/userReport.png) no-repeat center center;"></i>
                </a>
            </li>
            <li  class="toolbar-item last-nav-top" ms-click="scrollTop">
                <a href="javascript:void(0);">
                    <div class="item-tip-c item-tip-back">
                        <div class="item-box">
                            <div class="item-tip">返回顶部</div>
                        </div>
                    </div>
                    <i class="iconfont" style="background:url(img/r-fixed6.png) no-repeat center center;"></i>
                </a>
            </li>
        </ul>
    </div>

  