<ion-view view-title="百团大战详情页" hide-nav-bar="isHideNaviBar">

  <ion-nav-buttons side="left">
    <button class="dp-button button-icon ion-chevron-left" ng-click="$ionicGoBack()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="dp-button    " ui-sref="activityRule({type:'baituan'})">
      玩法
    </button>
  </ion-nav-buttons>
  <ion-content style="bottom: 50px;">
	  <ion-spinner icon="dots" class="dp-spinner spinner-dark" ng-show="isLoading"></ion-spinner>

    <!--<ion-refresher
      pulling-text=" 喂喂， 我可是有底线的！"
      pulling-icon="ion-arrow-down-c"
      on-refresh="refresh()"
      >
    </ion-refresher>-->


    <!--轮播图-->
    <ion-slide-box auto-play="true" does-continue="true" slide-interval=2000 class="dp-slider"
                   ng-if="activity.goods_img.length || !isLoading">
      <ion-slide ng-repeat="img in activity.goods_img track by $index">
        <img ng-src="{{::img}}" onerror="this.src='img/goods_default.png'" class="dp-slider__img">
      </ion-slide>
    </ion-slide-box>


    <div id="baituan" class="dp-detailBox"  ng-if="!isLoading">
      <!--正在进行-->
        <div class="dp-detailBox__progress">
          <ul class="baituan_price">
          	<li class="baituan_join">￥{{activity.price/activity.peoplenum}}<span><i class="left_sanjiaoxing"></i>{{activity.peoplenum}}人团</span></li>
          	<li class="baituan_really">原价:￥{{activity.originalprice}}</li>
          </ul>
        </div>
        
	      <div class="dp-detailBox__title baituan_title">
		       {{activity.goods_title}}&nbsp;&nbsp;
	        <span>{{activity.goods_subtitle}}</span>
		    </div>
			
				<div class="baituan_rule">
					<h1>活动规则</h1>
					<ul>
						<li>1、申请即可<span class="red">免费</span>成为亿七团长，分享抢购信息邀请好友参与娱乐购物，人数到达即参团成功。</li>
						<li>2、参团成功后，团长可<span class="red">免费</span>获得参团商品。</li>
						<li>3、系统通过严密的计算从被邀好友中筛选出一位<span class="red">幸运星</span>，此幸运星<span class="red">可获得参团商品</span>。</li>
						<li>4、参团{{activity.endday}}天后，若人数不足即参团失败，系统自动退款。</li>
						<li>5、拼团成功后，三天左右发货。</li>
					</ul>
				</div>

    </div>
    
    
			<div id="other_open_tuan" ng-if = 'activity.team.length'>
				<ul>
					<li class="other_open_tuan_title">别人在开团</li>
					<li class="other_open_tuan_content">
						<ul ng-repeat="team in activity.team"  ng-if="team.flag == 1" >
							<li class="other_open_tuan_img other_open_tuan_content1"><img ng-src={{team.icon}}></li>
							<li class="other_open_tuan_content2">
								<span class="other_open_tuan_title">{{team.nick}}</span><br>
								<span class="other_open_tuan_state">{{baituan_status[team.flag]}}</span>
							</li>
							<li  ng-click="getHisMumber(team.teamwar_id)" class="other_open_tuan_content4"><span>参团</span></li>
							<li class="other_open_tuan_content3">
								<span class="other_open_tuan_dissTime">还差{{team.people_num-team.join_num}}人</span><br>
								<span class="remain_time" view-countdown remain-time="{{team.et-team.nt}}" timeout-callback="timeoutCallback(activity)"></span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
    <div class="dp-blank10" ng-show="!isIosApp"></div>
    <p class="text-center" style="color: #f32d2d;padding: 5px;font-size: 12px;border: 1px solid #ededed;" ng-show="isIosApp">本活动和苹果公司无关，解释权归本公司所有</p>
    <div class="weui_cells weui_cells_access"  ng-if="!isLoading">
      <style>
        .weui_cell {padding: 16px 10px 16px 15px;z-index:9; }
      </style>
      <a class="weui_cell" ng-click="gotoFullIntroduce()" >
        <div class="weui_cell_bd weui_cell_primary">
          <p>商品详情</p>
        </div>
      </a>
    </div>


    <div  ng-if="!isLoading">
      <div class="dp-itemList__li p-0" style="border:none; margin-bottom: 10px;height:1px;background: transparent;">
        <div class="dp-itemList__content" style="background: transparent;">
          <div class="dp-itemList__img">
           
          </div>
          <div class="dp-itemList__desc">

          </div>
        </div>
      </div>
    </div>
    <!--显示图文详情-->
		<div class="dp-content"  ng-if="!isLoading">
      <div class="dp-content__box" ng-bind-html="content" style="padding:8px;"></div>
    </div>
  </ion-content>
  <!--百团大战新加的底部-->
	<div id="baituan_footer" class="bar bar-footer">
  		<div class="row">
  			<div ng-click="gotoMainPage()" class="col baituan_firstpage">
  				<i class="icon ion-ios-home"></i><br>
  				<span class="tab-title">首页</span>
  			</div>
  			<div ng-click="doShareRecord()" class="col baituan_inviteFriend">
  				<i class=" icon-baituan_share"></i><br />
  				<span>分享</span>
  			</div>
  			<div class="col baituan_keyShare" ng-click="gotobaituanApply()">申请开团</div>
  		</div>
	</div>

  

</ion-view>

<div id="guidepop" class="pop-wp"  style="display:none" ng-click="hideGuide1()">
  <div class="pop pop--share" >
    <img src="img/yaoqing.png" width="248" height="120" alt=""/>
  </div>
  <div class="mask"></div>
</div>
<div id="actionSheet_wrap" ng-show="isShowShare">
    <div class="weui_mask_transition weui_fade_toggle show" id="mask" ></div>
    <div class="weui_actionsheet weui_actionsheet_toggle" id="weui_actionsheet">
        <h3 class="dp-grid__head tac" style="background-color: #ffffff">分享到</h3>
        <div class="dp-grid dp-grid--3" style="padding: 0 10%;">

            <a class="dp-grid__link"  href="javascript:;" ng-click="shareToFriendsCircle()">
                <img class="dp-grid__img" src="img/pengyouquan_logo.png" alt=""/>
                <p class="dp-grid__title">朋友圈</p>
            </a>
            <a class="dp-grid__link"   href="javascript:;" ng-click="shareToFriends()">
                <img class="dp-grid__img" src="img/weixin_logo.png" alt=""/>
                <p class="dp-grid__title">微信好友</p>
            </a>
           
        </div>
        <div class="weui_actionsheet_action" ng-click="hidePop()">
            <div class="weui_actionsheet_cell" id="actionsheet_cancel" style="color: #888;">取消</div>
        </div>
    </div>
</div>


