<ion-view view-title="评论" hide-nav-bar="isHideNaviBar">
    <ion-nav-buttons side="left">
        <button class="dp-button button-icon ion-chevron-left" ng-click="back()">
        </button>
    </ion-nav-buttons>
    <ion-content scrollbar-y="false">
        <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-arrow-down-c" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="comment-detail-content">
            <div class="comment-list mt-20" ng-if="commentsList.length > 0">
                <!-- ng-if="commentsList.length > 0" -->
                <div class="row" ng-repeat="comment in commentsList">
                    <div style="color:#6c86a7;font-size:15px;">
                        <span ng-click="commentPerson(comment.uid,comment.nick)">{{::comment.nick}}</span><span ng-if="comment.comment_nick">
            <span style="color:#666;">回复</span> <span  ng-click="commentPerson(comment.comment_uid,comment.comment_nick)">{{::comment.comment_nick}}</span>
                        </span>：</div>
                    <div class="col p-0 f-28">{{::comment.text}}</div>
                </div>
                <p ng-show="isLoadFinished && !moreDataCanBeLoaded && commentsList.length > 0" class="dp-more dp-more--bottom">没有更多啦~</p>
            </div>
            <div class="no-item-wrap c-9 " ng-if="isLoadFinished && commentsList.length == 0">
                <p class="mt-40 f-32">暂无评论~</p>
            </div>
        </div>
        <ion-infinite-scroll ng-if="moreDataCanBeLoaded" immediate-check='false' distance="1%" on-infinite="getCommentList()"></ion-infinite-scroll>
        <p style="display:none">
            <img id="img1" src="http://p8.qhimg.com/t01053ab4d4d6510abd.png" alt="">
            <img id="img2" src="http://p5.qhimg.com/t017f9904d4be818a87.png" alt="">
            <img id="img3" src="http://p5.qhimg.com/t015ec16e404a442dd4.png" alt="">
            <img id="img4" src="http://p6.qhimg.com/t017895dcd6312beacb.png" alt="">
            <img id="img5" src="http://p2.qhimg.com/t01f70bccf10e16addd.png" alt="">
            <img id="img6" src="http://p3.qhimg.com/t016d419cab67d819ac.png" alt="">
        </p>
        <h2>小贼说：原生js实现canvas气泡冒泡效果的插件，api丰富，使用简单</h2>
        <canvas id="myCanvas" width="250" height="430" style="border:1px solid #eee">您的浏览器不支持canvas标签~</canvas>
        <canvas id="myCanvas2" width="200" height="330" style="border:1px solid #eee">您的浏览器不支持canvas标签~</canvas>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable inform-comment">
        <div class="row">
            <div class="padding-right col">
                <input class="comment-input" type="text" placeholder="{{comment_placeholder}}" ng-model="comment_content">
            </div>
            <button ng-click="comment()" ng-show="comment_content" class="button button-energized" style="height: 20px;line-height:20px;margin-top:4px;">提交</button>
        </div>
    </ion-footer-bar>
</ion-view>
