<div class="dp-inputbox dp-inputbox--icon">
  <div class="dp-inputbox__title">
    <i class="icon iconfont-locked"></i>
  </div>
  <div class="dp-inputbox__main" id="inputContain">
    <input type="{{passwordType ? 'text' : 'password'}}" placeholder="{{inputHintPassword}}"
           ng-model="dpInputModel" maxlength="{{dpInputMaxLength}}" minlength="{{dpInputMinLength}}"/>
  </div>
  <div class="dp-inputbox__buttons" ng-show="isNotEmpty()">
    <i class="icon iconfont-close-round-outline" ng-click="clearInput()"></i>
    <i ng-class="{true:'icon iconfont-eye-disabled',false:'icon iconfont-eye'}[getPasswordType()]" ng-click="showPassWord()"></i>
  </div>
</div>
