<div class="dp-inputbox dp-inputbox--icon">
  <div class="dp-inputbox__title">
    <i class="icon iconfont-ver"></i>
  </div>
  <div class="dp-inputbox__main">
    <input type="text" placeholder="{{inputHintVerify}}" ng-model="dpInputModel" maxlength="{{dpInputMaxLength}}" />
  </div>
  <div class="dp-inputbox__buttons" style="display: block;">
    <button class="button button-small dp-button dp-button--small" ng-click="dpInputVerifyClick()">
      {{dpInputVerifyTxt}}
    </button>
  </div>
</div>


<!--<div class="dp-inputbox dp-inputbox&#45;&#45;icon">-->
  <!--<div class="dp-inputbox__title">-->
    <!--<i class="icon iconfont-ver"></i>-->
  <!--</div>-->
  <!--<div class="dp-inputbox__main">-->
    <!--<input type="text" placeholder="请输入验证码" ng-model="inputObject.verificationCode"/>-->
  <!--</div>-->
  <!--<div class="dp-inputbox__buttons" style="display: block;">-->
    <!--<button class="button button-small dp-button dp-button&#45;&#45;small" ng-click="sendSmsVerificationCode()">-->
      <!--{{verificationButtonText}}-->
    <!--</button>-->
  <!--</div>-->
<!--</div>-->
