<div class="dp-inputbox dp-inputbox--icon" >
  <div class="dp-inputbox__title">
    <i class="icon iconfont-person-outline"></i>
  </div>
  <div class="dp-inputbox__main" id="inputContain">
    <input type="text" placeholder="{{inputHintNickname}}" ng-model="dpInputModel"
           minlength="{{dpInputMinLength}}" maxlength="{{dpInputMaxLength}}"  ng-readonly="{{dpReadOnly}}" />
  </div>
  <!--<div class="dp-inputbox__buttons" ng-click="clearInput()" ng-show="isNotEmpty()">-->
    <!--<i class="icon iconfont-close-round-outline"></i>-->
  <!--</div>-->
</div>
