<div class="footer_change">
    <div class="footer">
        <ul class="footerIn" ms-if="!hideFooterIn">
            <li>
                <span style="display:block;background-position: -119px -70px;height: 46px;margin-top: 6px"></span>
                <p>100%公平公正公开</p>
            </li>
            <li>
                <span style="display:block;background-position: -119px -122px;margin-top: 4px;height: 48px;"></span>
                <p>100%品质保障</p>
            </li>
            <li>
                <span style="display:block;background-position: -193px -18px;margin-top: 7px;height: 43px;"></span>
                <p>全国免运费（港澳除外）</p>
            </li>
            <li>
                <span style="display:block;background-position: -193px -62px;"></span>
                <p>100%权益保障</p>
            </li>
        </ul>
        <div class="yFootSupport">
            <div class="yFootSupport_in">
                <div id="articleTypeList" style="float: left;">
                    <dl>
                        <dt>新手指南</dt>
                        <dd><a href="#!/help/know">了解亿七购</a></dd>
                        <dd><a href="#!/help/question">常见问题</a></dd>
                        <dd><a href="#!/help/ruleIntroduction">规则介绍</a></dd>
                        
                    </dl>
                    <dl>
                        <dt>亿七购保障</dt>
                        <dd><a href="#!/help/systemEnsure">亿七购保障体系</a></dd>
                        <dd><a href="#!/help/safetyPayment">安全支付</a></dd>
                        <dd><a href="javascript:;" ms-click="complain()">建议投诉</a></dd>
                    </dl>
                    <dl>
                        <dt>商品配送</dt>
                        <dd><a href="#!/help/deliveryMoney">配送费用</a></dd>
                        <dd><a href="#!/help/sign">商品验货与签收</a></dd>
                        <dd><a href="#!/help/noReceive">长时间未收到商品问题</a></dd>
                    </dl>
                    <dl>
                        <dt>关于亿七购</dt>
                        <dd><a href="#!/help/introduce">亿七购介绍</a></dd>
                        <dd><a href="#!/help/serviceAgreement">服务协议</a></dd>
                        <dd><a href="#!/help/contact">联系我们</a></dd>
                    </dl>
                    <dl>
                        <dt>携手亿七购</dt>
                        <dd><a href="#!/help/cooperation">商务合作</a></dd>
                        <dd><a href="#!/help/invite">邀请</a></dd>
                        <dd><a href="#!/help/qq">官方QQ交流群</a></dd>
                    </dl>
                </div>
              <!--   <dl class="dl_Time">
                    <dd title="服务热线" style="background:url(img/phone.png) no-repeat 0px 5px;margin-top: 29px;"> 400-8253-551</dd>
                   
                </dl> -->
                <!--原本的二维码的部分，暂时不要-->
                <dl >
                    <div class="dlLast" style="text-align:center;">
                        <div class="y-popover">
                            <img style='width:100px;' src="./img/clienty.jpg" alt="">
                        </div>
                    </div>
                </dl>
                <!--<dl id="userReport">
                	<div class="dlLast">
	                	<input type="text" id="uname" value="" placeholder="您的姓名" />
	                	<input type="text" id="contact_info" value="" placeholder="您的联系方式" />
	                	<textarea name="" rows="" cols="" placeholder="建议"></textarea>
	                	<button type="button" ms-click="complain_yu()">提交建议</button>
                	</div>
                </dl>-->
            </div>
            <style type="text/css">
            	/*#userReport,#userReport *{
            	}
            	#userReport .dlLast button{
            		width: 100px;
            		height: 30px;
            		
            	}
            	#userReport .dlLast{
            		background: none;
            		padding-top: 0px;
            		border: 0px solid #AAAAAA;
            	}
            	#userReport input#uname{
            		width: 30%;
            	}
            	#userReport input#contact_info{
            		width: 67%;
            	}
            	#userReport input{
            		height: 30px;
            	}
            	#userReport input:focus,#userReport textarea:focus{
            		border-color: #ffffff;
            	}
            	#userReport textarea{
            		width: 275px;
            		height: 50px;
            		line-height: 25px;
            	}*/
            </style>
            <div class="footer-time-list" id="pageEnd">
                <div class="yFootBottomRight" style="text-align:left;">
                 广州福哲网络科技有限责任公司  &copy; 2016  粤ICP备16080268号
                </div>
                <div class="yFootBottomRight" style="text-align:right;">
                        <p style="background:url(img/phone.png) no-repeat 0px 26px;display:inline-block;padding-left: 30px;font-size: 20px;"> 服务热线 400-8253-551</p>
                </div>
            </div>
        </div>
    </div>
</div>
