<ion-view view-title="积分明细" hide-nav-bar="isHideNaviBar">

  <ion-nav-buttons side="left">
    <button class="dp-button button-icon ion-chevron-left" ng-click="goBack()">
    </button>
  </ion-nav-buttons>
 <!--  <ion-nav-buttons side="right" >
    <button class="button button-clear f-32">
    清空&nbsp;
    </button>
  </ion-nav-buttons> -->
    <ion-content scrollbar-y="false" overflow-scroll="false">
      <ion-refresher
        pulling-text="下拉刷新"
        pulling-icon="ion-arrow-down-c"
        on-refresh="doRefresh()"
        >
      </ion-refresher>
      <div class="row row-center mt-10 text-center f-28 c-3 bg-white p-10" >
        <div class="col">共获取：{{::myPointData.total || '0'}}</div>
        <div class="col">已兑换：{{::myPointData.use || '0'}}</div>
        <div class="col">当前积分：{{::myPointData.point || '0'}}</div>
      </div>
       
      <div class="list" ng-show="myPointDetailsData.length > 0"> 
        <div class="item p-10" ng-repeat="point in myPointDetailsData">
          <div class="row row-center p-0 f-28">
            <div class="col">{{::point.desc}}</div>
            <div class="col">{{::point.point}}</div>
            <div >{{::point.ut*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
          </div>
        </div>
        <p  ng-show="isLoadFinished && !moreDataCanBeLoaded && myPointDetailsData.length > 0" class="dp-more dp-more--bottom" >没有更多啦~</p>
      </div>
      <div class="no-item-wrap c-9 " ng-show="isLoadFinished && !moreDataCanBeLoaded && myPointDetailsData.length == 0" >
          <p class="mt-40 f-32">暂无明细~</p>
      </div>

      <ion-infinite-scroll
        ng-if="moreDataCanBeLoaded"
        immediate-check='false'
        distance="1%"
        on-infinite="getMyPointDetails()">
      </ion-infinite-scroll>

    </ion-content>
   
</ion-view>

