    <div class="c_left_side">
        <ul class="c_left_nav">
            <li><a class="c_first_out_a c_click_li" href="#!/userCenter"><i></i>我的账户</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'recordBuy' ? 'c_click_newa' : ''}}" href="#!/recordBuy"><i class="c_out_i_two"></i>购买记录</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'balance_detail' ? 'c_click_newa' : ''}}" href="#!/balance_detail"><i class="c_out_i_four"></i>余额明细</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'inviteMoney' ? 'c_click_newa' : ''}}" href="#!/inviteMoney"><i class="c_out_i_thirteen"></i>佣金明细</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'recordWin' ? 'c_click_newa' : ''}}" href="#!/recordWin"><i class="c_out_i_three"></i>中奖记录</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'myNew' ? 'c_click_newa' : ''}}" href="#!/myNew"><i class="c_out_i_five"></i>我的消息</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'expose' ? 'c_click_newa' : ''}}" href="#!/expose"><i class="c_out_i_six"></i>我的晒单</a></li>
            <li><a class="c_out_a" ms-class="{{activePage == 'myPoint' ? 'c_click_newa' : ''}}" href="#!/myPoint"><i class="c_out_i_seven"></i>我的积分</a></li>
            <!-- <li><a class="c_out_a" href="#!/redpacket"><i class="c_out_i_eight"></i>我的红包</a></li> -->
            <li><a class="c_out_a" ms-class="{{activePage == 'invite' ? 'c_click_newa' : ''}}" href="#!/invite"><i class="c_out_i_nine"></i>邀请好友</a></li>
           <!--  <li><a class="c_out_a" ms-class="{{activePage == 'address' ? 'c_click_newa' : ''}}" href="#!/partner"><i class="c_out_i_thirteen"></i>我的佣金</a></li> -->
            <li><a class="c_out_a" ms-class="{{activePage == 'address' ? 'c_click_newa' : ''}}" href="#!/address/all"><i class="c_out_i_ten"></i>收货地址</a></li>
            <!-- <li><a class="c_out_a" href="#!/bankcard"><i class="c_out_i_fifteenth"></i>绑定银行卡</a></li>
            <li><a class="c_out_a" href="#!/save"><i class="c_out_i_eleven"></i>安全中心</a></li> -->
            <!-- <li><a class="c_out_a" href="#!/question"><i class="c_out_i_twelve"></i>常见问题</a></li> -->
        </ul>
    </div>
