
<ion-view view-title="充值" hide-nav-bar="isHideNaviBar" >

    <!--<ion-nav-buttons side="left"  ng-click="$ionicGoBack()">-->
    <ion-nav-buttons side="left" >
        <button class="dp-button button-icon ion-chevron-left"  ng-click="goBack()">
        </button>
    </ion-nav-buttons>
    <ion-content style="bottom: 44px;">
        <ion-slide-box auto-play="true" does-continue="true" show-pager="false" slide-interval=2000 class="dp-slider">
            <ion-slide>
                <a class="dp-slider__link">
                    <img src="img/slider4.jpg" class="dp-slider__img">
                </a>
            </ion-slide>
        </ion-slide-box>

      <!--选择充值金额-->
      <view-card-radio callback="moneySelectCallback"></view-card-radio>


        <div class="weui_cells_title"  ng-if="rechargeType!=2">选择支付方式</div>
        <!--<div class="error-messages" ng-messages="form.payWay.$error" ng-show="form.$submitted">  ng-hide="hideWeixin"-->
        <style>
            .weui_cells_radio .weui_check:checked + .weui_icon_checked:before {
                font-size: 22px;
            }
        </style>
        <div class="weui_cells weui_cells_radio" ng-if="rechargeType!=2">
            <label class="weui_cell weui_check_label " for="x11" style="padding: 16px 10px;font-size:18px;" ng-hide="hideWeixin">
                <div class="weui_cell_hd"><img src="img/weixin.png" alt="" style="width:30px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>微信支付</p>
                </div>
                <div class="weui_cell_ft">
                    <input type="radio" class="weui_check" id="x11" name="payWay" ng-model="pay.type" value="1" required>
                    <span class="weui_icon_checked"></span>
                </div>
            </label>
            <label class="weui_cell weui_check_label " for="x12" ng-hide="hidezhifubao" style="padding: 16px 10px;font-size:18px;">
                <div class="weui_cell_hd"><img src="img/zhifubao.png" alt="" style="width:30px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>支付宝支付</p>
                </div>
                <div class="weui_cell_ft">
                    <input type="radio" class="weui_check" id="x12" checked="checked" name="payWay" ng-model="pay.type" value="2" required>
                    <span class="weui_icon_checked"></span>
                </div>
            </label>
        </div>

    </ion-content>

    <button ng-click="payNow()" type="submit" class="dp-button  button-block"
            style="border-radius: 0; position:fixed; bottom: 0; left:0;font-size: 20px;line-height: 40px;height: 40px;"
            ng-disabled="!validParams()"
            ng-if="rechargeType!=2"
            ng-class="{true:'dp-button--red',false:'dp-button--off'}[validParams()]">
        立即充值
    </button>
    <button ng-click="startToPay()" type="submit" class="dp-button  button-block"
            style="border-radius: 0; position:fixed; bottom: 0; left:0;"
            ng-disabled="!validParams()"
            ng-if="rechargeType==2"
            ng-class="{true:'dp-button--red',false:'dp-button--off'}[validParams()]">
        立即购买
    </button>
</ion-view>

