<link rel="stylesheet" type="text/css" href="css/games/letter_game.css" />
<ion-view view-title="抓娃娃" hide-nav-bar="true">

	<style type="text/css">
		/*@-webkit-keyframes rolling-0 {
			0% {
				transform: translate3d(-372px, 0, 0);
			}
			100% {
				transform: translate3d(0, 0, 0);
			}
		}
		
		@keyframes rolling-0 {
			0% {
				transform: translate3d(-1372px, 0, 0);
			}
			100% {
				transform: translate3d(0, 0, 0)
			}
		}*/
		
		.rolling-0-animation {
			-webkit-animation: rolling-0 10.279199999999996s linear infinite;
			/*-webkit-animation: rolling-0 10 linear infinite;*/
			animation: rolling-0 10.279199999999996s linear infinite;
			/*animation: rolling-0 10 linear infinite;*/
		}
	</style>
	<ion-content class="zhuawawa">
		<style type="text/css" id="animateCss">

		</style>
		<main class="zhuawawa_main">
			<nav>
				<div class="zhuanww_left" ng-click="buyFudai()">
					<strong>-{{config.costNum[config.gameLevel]}}</strong>
					<i class="icon-doll"></i>
					<span class="bean_total jsBalance">{{userInfo.lucky_packet}}</span>
					<span class="btn_add jsPay"></span>
				</div>
				<div class="doll-tool">
					<span class="doll-tool-item jsHelpBtn" ng-click="openElem('gameRule')">
						<span class="icon-tool icon-help"></span>
					</span>
					<br />
					<span class="doll-tool-item new-item jsTarget">
						<span  ui-sref="gameRecord" id="jsRecordBtn" class="icon-tool icon-record"></span>
						<span class="reddot" style="display: none; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
							
						</span>
					</span><br>
					<span class="doll-tool-item jsTask" ng-click="gotoPage('dailyTask')">
						<span class="icon-tool icon-tasks"></span>
					</span>
					<div id="jsRecordList" class="panel-doll-tool" style="display: none;">
						<ul class="panel-doll-list">
							<li>
								<a class="jsRecordItem"><i class="icon icon-gamerecord"></i> 游戏记录
								</a> <span class="reddot" style="display: none; transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);"></span></li>
							<li>
								<a><i class="index-icon-n index-icon-n-13" style="margin-right: 0.05rem;"></i> 个人中心
								</a>
							</li>
							<li>
								<a><i class="icon icon-goback"></i> 返回商城
								</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="zhuanww_machine">
					<div class="doll-tit">
						<span id="jsTitLevel" class="tit tit-primary"></span>
					</div>
					<div class="machine-clip-line">
						<div id="machine-down" class="machine-bar-wrap machine-down" style="height: 20%;">
							<span class="machine-bar"></span>
						</div>
						<div class="machine-handle">
							<!--<span class="machine-origin-bg"></span>-->
							<img ng-if="config.gameLevel==1" class="machine-origin" src="img/weiGame/zhuaww/bg_low/low_center.png" alt="" />
							<img ng-if="config.gameLevel==2" class="machine-origin" src="img/weiGame/zhuaww/bg_middle/middle_center.png" alt="" />
							<img ng-if="config.gameLevel==3" class="machine-origin" src="img/weiGame/zhuaww/bg_high/high_center.png" alt="" />

							<!--<span class="machine-origin"></span>-->
							<span class="machine-arm machine-arm-left"></span>
							<span class="machine-arm machine-arm-right"></span>
						</div>
						<ul class="doll-hold jsHoldSuc">
							<li  class="doll-item" data-id="{{jsHoldSuccess.game_goods_id}}">
								<!--<span class="doll doll-cy bg_{{1}}"></span>
								<span class="doll-card doll-gift">
									<span id="succHoldText" class="doll-card-txt">
										<p>{{jsHoldSuccess.sub_title}}</p>
										<p>{{jsHoldSuccess.title}}</p>
									</span>
								</span>-->
							</li>
						</ul>
					</div>
				</div>
				<div class="zhuanww_item doll-box doll-box-large">
					<div class="doll-cont">
						<ul id="largeDollList" class="doll-list">
							<!--<ul id="largeDollList" class="doll-list">-->
							<li class="doll-item " ng-repeat="awards in awardList" data-id="{{awards.game_goods_id}}">
								<!--<img class="doll" src="img/weiGame/zhuaww/bg/doll-item_1.png"/>-->
								<span class="doll doll-cy bg_{{$index%5+1}}"></span>
								<span class="doll-card doll-gift">
									<span class="doll-card-txt"> 
										<!--<p ng-repeat="award in awards">{{award}}</p>-->
										<p>{{awards.sub_title}}</p>
										<p>{{awards.title}}</p>
									</span>
								</span>
							</li>
							<li class="doll-item " ng-repeat="awards in awardListInxThree" data-id="{{awards.game_goods_id}}">
								<!--<img class="doll" src="img/weiGame/zhuaww/bg/doll-item_1.png"/>-->
								<span class="doll doll-cy bg_{{$index%5+1}}"></span>
								<span class="doll-card doll-gift">
									<span class="doll-card-txt"> 
										<!--<p ng-repeat="award in awards">{{award}}</p>-->
										<p>{{awards.sub_title}}</p>
										<p>{{awards.title}}</p>
									</span>
								</span>
							</li>
					</div>
					<div class="doll-track"></div>
				</div>
			</nav>
			<div class="light-top"></div>
			<div class="light-left"></div>
			<div class="light-right"></div>
		</main>

		<div id="catch_succ" class="panel-mask" style="z-index: 1000;" ng-if="catchResult.display">
			<div class="panel panel-suc-primary" data-msg="{{notFirstComZhuawawa}}">
				<div class="panel-suc-hd">
					<h2>{{catchResult.title}}</h2></div>
				<div class="panel-suc-bd">
					<div class="suc-fdback" style="font-size: 20px;">
						<!---->
						<p>{{catchResult.content}}</p>
					</div>
					<ul class="btn-wrap" ng-click="closeElem('catchResult')">
						<li><span class="btn btn-red jsContinue">{{catchResult.btnText}}</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="popUpBox" class="panel-mask" style="z-index: 1000;" ng-if="popUpBox.display">
			<div class="panel panel-suc-primary">
				<div class="panel-suc-hd">
					<h2>{{popUpBox.title}}</h2></div>
				<div class="panel-suc-bd">
					<div class="suc-fdback" style="font-size: 20px;">
						<!---->
						<p>{{popUpBox.content}}</p>
					</div>
					<ul class="btn-wrap" >
						<li>
							<span ng-click="closeElem('popUpBox')" ng-if="popUpBox.btnText1" class="btn btn-red jsContinue">{{popUpBox.btnText1}}</span>
							<span ng-click="buyFudai()" ng-if="popUpBox.btnText2" class="btn btn-red jsContinue">{{popUpBox.btnText2}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<footer>
			<div class="doll_notice">
				<view-text-scoll interval="3000" scoller-height="24" text-list={{gameNoticeList}} ng-if="gameNoticeList.length > 0"></view-text-scoll>
				<!--<ul class="notice_list">
					<li>
						<i class="icon_notice">公告</i>
						<a><span>微信P2c**ih</span>获得了<span>iPhone7 plus128G</span></a>
					</li>
				</ul>-->
			</div>
			<div class="doll-bets">
				<div class="doll_bet_bean">
					<span class="bet-bean-item" ng-click="changeShin(3,$event)">
						<span class="bet-bean bet-bean-10">
							
						</span>
					</span>
					<span class="bet-bean-item" ng-click="changeShin(2,$event)">
						<span class="bet-bean bet-bean-5"></span>
					</span>
					<span class="bet-bean-item current" ng-click="changeShin(1,$event)">
						<span class="bet-bean bet-bean-1"></span>
					</span>
				</div>
				<div class="doll-btn" ng-click="startZhuaww()">
					<a ng-if="notFirstComZhuawawa" class="btn-start jsBetBtn"></a>
					<a ng-if="!notFirstComZhuawawa" class="btn-start jsBetBtn demo"></a>
				</div>
			</div>
			</div>
		</footer>
		<div id="zhuawawa_guide" ng-if="!notFirstComZhuawawa">
			<div class="guide_img"></div>
			<div class="guide_btn">
				<span class="jumpOverBtn" ng-click="jumpOver()"></span>
				<span class="demoBtn" ng-click="demoShow()"></span>
			</div>
			<div class="zhauwwmask"></div>
		</div>
		<!--<view-buy-fudai></view-buy-fudai>-->
	</ion-content>

</ion-view>
<div ng-if="config.displayRule">
	<div id="gamePop">
		<!--灰色背景-->
		<div class="model_layer"></div>

		<!--游戏规则-->
		<div class="panel-doll-rule">
			<img src="img/weiGame/zhuaww/gameRule_bg.png" alt="">
			<div class="rule-bd">
				<h3><b>一、玩法说明</b></h3>
				<p>1、玩家首先选择每次夹娃娃需要花费的福袋个数，然后点击开始便可伸出夹子去夹取相应的奖品；</p>
				<p>2、能否夹起娃娃取决于玩家出手的时机，夹起娃娃后能否夹中则取决于奖品的概率。</p>
				<h3><b>二、奖品说明</b></h3>
				<p>1、实物商品：全部为原厂正品，夹中后请在待领奖中领奖并填写收货信息，我们将在1—3个工作日发货。</p>
				<p>2、充值卡：以卡密形式自动发放，请夹中充值卡后在待领奖中领奖。</p>
				<h3><b>三、其他说明</b></h3>
				<p>1、用户不得已机器人软件、蜘蛛软件、爬虫软件、刷屏软件等自动访问方式或其他作弊行为参与本游戏，一经发现，我么你有权对所有使用非法手段的账号进行不予发奖、冻结、查封等操作。</p>
				<p>2、因网络波动影响，夹娃娃动画表现可能存在误差，最终结果以参与记录中的结果为准。</p>
				<p>3、请在中奖后的30天内填写收货信息，逾期默认自动放弃中奖资格。</p>
				<p>4、均有任何疑问请拨打客服热线：400-8253-551</p>
			</div>
			<!--返回游戏按钮-->
			<img ng-click="closeElem('gameRule')" class="return_game_btn" src="img/weiGame/zhuaww/return_game.png" alt="">
		</div>
	</div>
</div>