<div class="dp-itemList__li">
    <div class="dp-itemList__content" ng-if="goods.activity_type==1 || goods.activity_type==2 || goods.activity_type==3">
        <div class="dp-itemList__img" ng-click="goToDetail(goods.activity_id)"><img ng-src="{{goods.goods_img}}" alt=""/>
        </div>
        <div class="dp-itemList__title dm-nowrap-2" ng-click="goToDetail(goods.activity_id)">{{goods.goods_title}}
            <span class="fr left_num" style="color:#888888;">价格：￥<em class="red">{{goods.need_num}}</em></span></div>
        <div class="dp-itemList__desc" ng-click="goToDetail(goods.activity_id)">
            <span class="all_num">总需人次：<em class="blue">{{goods.need_num}}</em></span>
            <span class="left_num">剩余人数：<em class="red">{{goods.remain_num}}</em></span>
        </div>
        <div class="dp-itemList__option">
            <label>参与人次：</label>

            <div class="num_box">
                <a class="decrease_btn" ng-click="minusNumber()" href="">-</a>
                <input class="num"  type="tel" id="joinNumber" maxlength="6" value="{{goods.join_number}}" ng-model="goods.join_number" ng-blur="editJoinNumber(goods)"/>
                <a class="add_btn" ng-click="addNumber()" href="">+</a>
            </div>
        </div>
    </div>

    <!--<div class="dp-itemList__content" ng-if="goods.activity_type==4">
        <div class="dp-itemList__img" ng-click="goToDetail(goods.activity_id)"><img ng-src="{{goods.goods_img}}" alt=""/>
        </div>
        <div class="dp-itemList__title dm-nowrap-2" ng-click="goToDetail(goods.activity_id)" style="padding-right: 28px;">{{goods.goods_title}}</div>
        <div class="dp-itemList__desc" ng-click="goToDetail(goods.activity_id)">
            <span class="all_num">总需人次：<em class="blue">{{goods.need_num}}</em></span>
            <span class="left_num">剩余人数：<em class="red">{{goods.remain_num}}</em></span>
        </div>
        <div class="dp-itemList__option">
            <label>参与人次：</label>

            <div class="num_box">
                <a class="decrease_btn" ng-click="minusNumber()" href="">-</a>
                <input class="num"  type="tel" id="joinNumber" maxlength="6" value="{{goods.join_number}}" ng-model="goods.join_number" ng-blur="editJoinNumber(goods)"/>
                <a class="add_btn" ng-click="addNumber()" href="">+</a>
            </div>
        </div>
    </div>-->


    <div class="dp-itemList__content" ng-if="goods.activity_type==4">
        <div class="dp-itemList__img" ng-click="goToDetail(goods.activity_id)"><img ng-src="{{goods.goods_img}}" alt=""/>
        </div>
        <div class="dp-itemList__title dm-nowrap-2" ng-click="goToDetail(goods.activity_id)">{{goods.goods_title}}
            <span class="fr left_num" style="color:#888888;">价格：￥<em class="red">{{goods.need_num}}</em></span></div>
        <div class="dp-itemList__desc" ng-click="goToDetail(goods.activity_id)">
            <span class="all_num">总需人次：<em class="blue">{{(goods.need_num/goods.need_num)*2}}</em></span>
            <span class="left_num">剩余人数：<em class="red">{{(goods.remain_num/goods.remain_num)*2}}</em></span>
        </div>
        <div class="dp-itemList__option">
            <label>参与人次：</label>

            <div class="num_box" id="type4_num_box4" style="border: none;">
                <a class="decrease_btn"  ng-class='{selected:1==selectedRow}' z-index="1" ng-click="minusNumber(1)" href="" style="width: 48px; margin-right: 10px;border: 1px solid #ededed; background: white;">一半</a>
                <input style="display: none;" class="num"  type="tel" id="joinNumber" maxlength="6" value="{{goods.join_number}}" ng-model="goods.join_number" ng-blur="editJoinNumber(goods)"/>
                <a class="add_btn"  ng-class='{selected:2==selectedRow}' z-index="2" ng-click="addNumber(2)" href="" style="width: 48px;border: 1px solid #ededed; background: white;">全部</a>
            </div>
        </div>
    </div>
    <div class="dp-itemList__select form_input" ng-click="chooseGoods(goods)">
        <i ng-class="{'selected':goods.isSelected,'checkbox_icon':true}"></i>
        <!--<label class="weui_cell weui_check_label" style="padding: 0" for="s12">-->
            <!--<input type="checkbox" class="weui_check" name="checkbox1" id="s12">-->
            <!--<i class="weui_icon_checked" ng-click="chooseAllGoods()"></i>-->
        <!--</label>-->
    </div>
    <span class="limit-flag" ng-if="(goods.activity_type == 3)" style="top:0;z-index:2;">限购</span>
</div>

